[2018-07-27 20:54] chintan9 opened #1 "IE11 not working"
IE11 not working

[2018-07-30 03:54] collegeimprovements opened #2 "Feature Request: Download to XLSX, PNG and PDF"
It would be really awesome if along with SVG, apexcharts can provide a way to download the graph in Excel, png/jpeg and pdf formats.

[2018-07-30 03:55] collegeimprovements opened #3 "Feature Request: React Bindings"
Would be great if apexcharts can provide React Components. That will give nice declarative experience  out of the box.

[2018-07-30 03:58] junedchhipa commented on #3
Providing wrappers for React/Vue.js is the top thing on my to-do list in the upcoming releases.
You will have to wait for another major release though. Stay tuned!

[2018-07-30 04:03] junedchhipa commented on #2
I had a plan to provide additional formats to download directly, but after estimating the final size of the library if I included pdf/excel export, I changed my mind.
Can be provided as an add-on, so users who don't need it doesn't get affected.
Thank you for the suggestion

[2018-07-30 06:33] xianxingg opened #4 "Could you add the first gauge chart in README to the demo page?"
i mean the chart with a label of 'Percent'.
it seems that the color of this chart is linear-gradiented by the round path. I've done some research and was disappointed to find out that in modern browsers we cannot make that ( in android we may ) since the only two color gradients that v8 supports do not match this requirement.

[2018-07-30 06:46] junedchhipa commented on #4
I will add the demo, but let me clarify that it is indeed just a linear gradient going from left to right, and not based on the path. It looks like the color starts with the start-angle and ends at another angle, but if you look closely, it is just a simple horizontal gradient applied to the whole area.
![screen shot 2018-07-30 at 12 16 18 pm](https://user-images.githubusercontent.com/17950663/433

[2018-07-30 06:53] junedchhipa commented on #4
Here is the demo added to the website (with source)
https://apexcharts.com/javascript-chart-demos/radialbar-charts/gradient/

[2018-07-30 07:21] xianxingg commented on #4
Really appreciate that :)

[2018-07-30 11:12] LoiKos opened #5 "Feature Request : Radar Chart"
Hi, first thanks for Apexcharts it looks awesome !

I would like to know if you plan to add new chart to the lib and more i'm especially looking for a radar chart ?

[2018-07-30 11:24] junedchhipa commented on #5
Hi LoiKos,
I am open to adding more features/functionalities that can enhance the library as a whole. And, adding an additional chart-type is not at the top of the list for the moment.
I am willing to invest time to add more chart-types, but not 100% sure of the timeline when it will happen. The library is very new and at an early-stage. I am sure, a lot of things will change in the future dependi

[2018-08-01 02:59] yamash723 opened #6 "Broken URL in Radialbar-Charts demo page"
Thanks for your great works. Its so simply nice library.

Btw, I found broken urls in the demo page.
Could you check it out please?

**demo page**
https://apexcharts.com/javascript-chart-demos/radialbar-charts/

- Circle Chart – Custom Angle
    - Wrong
        - https://apexcharts.com/javascript-chart-demos/radialbar-charts/circle-chart-custom-angle/
    - Correct
        - https://apexcharts.com

[2018-08-01 04:40] junedchhipa commented on #6
@yamash723 Thanks for reporting. Fixed it.

[2018-08-01 04:40] #6 closed

[2018-08-01 09:50] mbuczko opened #8 "Inconvenient panning"
It's definitely not an issue but I feel like paning works in a bit unpredictable way.

A simple scenario: I would like to zoom in a line chart, pan it left and zoom in again. In this case I need to go back and forth to the toolbar selecting a "zoom in" icon first, then a "pan" icon and then a "zoom in" icon again. In a meantime chart goes randomly left or right because in "paning mode" it follows

[2018-08-01 10:08] Palad1NPT commented on #3
Is by any chance on the to-do list an Angular wrapper?
Thank you.

[2018-08-01 10:08] DVSoftware opened #9 "Feature Request: Candlesticks"
Hi, it would be nice if this library could support candlesticks chart, and perhaps other financial charts

[2018-08-01 10:32] junedchhipa commented on #8
Hi @mbuczko ,
Zooming and Panning together is carried out in a number of different ways. I got the inspiration for the current behavior in ApexCharts from plot.ly, but I think your suggestion to allow panning while holding an additional key is not bad.

Another option to avoid going back and forth the toolbar is to allow zoomin/zoomout by mousewheel/pinch gesture and allow panning by mousedown/dra

[2018-08-02 07:33] apertureless commented on #3
@junedchhipa If you need help with the vue part, just shoot me a message ;)

[2018-08-02 07:56] junedchhipa commented on #3
@apertureless That would be awesome! Given your expertise in Vue.js, I think you will handle this part better than me ;)

Please go ahead, and let me know if you need anything from me.

[2018-08-02 18:53] MichaelDanielTom opened #10 "Poor handling for non-integer values on the y-axis"
When making charts that have float/decimal values, the values always round. This makes it extremely annoying for plotting data under 1. Right now I have a workaround so that I can see the actual value on hover by setting the formatter like:

`options.yaxis.labels.formatter = val => val.toFixed(2)`

However there doesn't seem a way to get any non integer ticks to show up. Therefore if all data is b

[2018-08-02 19:31] MichaelDanielTom commented on #10
Thanks so much Juned!

[2018-08-02 20:39] junedchhipa commented on #10
Fixed the decimal places also.
Now you don't need to provide `options.yaxis.labels.formatter = val => val.toFixed(2)` for handling small values

[2018-08-03 05:16] sumitaryavrat opened #11 "undefined is not an object (evaluating 'e.createElementNS') React-Native"
When I import the "import ApexCharts from 'apexcharts' "  undefined is not an object (evaluating 'e.createElementNS') React-Native this error occurs.

[2018-08-03 06:00] junedchhipa commented on #11
The library has no direct support for React-Native as of now. The undefined error is due to `document` not being available which will only be present in browsers.

[2018-08-03 08:40] sumitaryavrat commented on #11
ok, so how can it work for react-native. Can you suggest me any changes in code??

[2018-08-03 11:44] centDejan opened #12 "Multiple series filter"
When you filter out all series (legend) the control goes blank.

[2018-08-03 11:48] junedchhipa commented on #12
Thank you for reporting.
This needs immediate attention

[2018-08-03 13:08] junedchhipa commented on #12
Fixed in https://github.com/apexcharts/apexcharts.js/commit/5cc82075fabd9139a8feb5c7c41e81350b2e999d

[2018-08-03 13:09] #12 closed

[2018-08-03 13:59] normanbrobinson opened #13 "Demo site SVG Images are not accessible"
Your demo images need alt text or titles - labeling as appropriate: https://css-tricks.com/accessible-svgs/

[2018-08-03 14:28] junedchhipa commented on #13
Hi, I read the article's conclusion, but still, can't decide what exactly should I change, whether I should remove the alt text or not?
Can you please summarize it in short description, and explain to me?
Thanks

[2018-08-03 20:04] MichaelDanielTom commented on #10
@junedchhipa Quick possible improvement could also be to default the representation for floats to truncate after a reasonable amount. Thoughts?

![image](https://user-images.githubusercontent.com/5520838/43663261-d3699f02-9736-11e8-8f4f-d1e5a40ae0d0.png)

[2018-08-03 20:19] junedchhipa commented on #10
Not a bad idea to avoid long fraction parts.
And what should be the name of this option? `options.yaxis.labels.decimalsInFloat` sounds good? :)

[2018-08-03 20:40] junedchhipa commented on #10
Updated the "fraction/decimal" part to allow the user to give a default value.
Currently, the default is set to 2 - https://github.com/apexcharts/apexcharts.js/commit/b37f2490f28bd1d41f95ec14c4b6bfafb91a76a4
The option can be set at `options.yaxis.decimalsInFloat`
Need to add in the docs

[2018-08-04 13:00] andjules opened #16 "Feature request: explode pie/donut slice"
I can see in the demos that clicking on a pie slice expands its radius, but I couldn't find anything in the docs about it.
Ideally, I would like to build a pie where any slice can be **offset** x pixels/percent from the centre point.
Less ideal, but perhaps easier: there is clearly already a function for expanding a slice's radius (on click), but it would be nice to be able to access it (so that i

[2018-08-04 13:44] junedchhipa commented on #16
If I'm not wrong, are you proposing something like this?
![screen shot 2018-08-04 at 7 05 45 pm](https://user-images.githubusercontent.com/17950663/43677050-74e1a02c-9819-11e8-8852-b396ed343f10.png)
This is from echarts, and they give an option called `roseType: radius` which changes the radius of each pie depending on the value. Bigger the value, bigger the radius. The smallest value becomes the

[2018-08-04 14:24] andjules commented on #16
Actually, what I really want is the ability to do this:
<img src="https://conceptdraw.com/a2077c3/p8/preview/640/pict--percentage-pie-chart-with-shifted-slices-pie-charts-vector-stencils-library" />

However, your demo above is great.
I actually don't like the eCharts rose style (where radius is also based on slice value; I think it exaggerates data differences), but I like that by appending data

[2018-08-04 16:52] junedchhipa commented on #16
Ok, got your point.
So, I tried to provide a custom radius size to a particular slice, and it resulted in this
![screen shot 2018-08-04 at 10 17 50 pm](https://user-images.githubusercontent.com/17950663/43678625-6619dbfc-9834-11e8-8f15-a6f548ce88f9.png)

As you can see, it exaggerated the data in the last slice. The best solution is to just move the slice outwards (that is, what you call explode),

[2018-08-04 17:26] andjules commented on #16
Thanks! It would be great if we had an option to move the slice (offset) from center.

In the meantime, how can I recreate the what you did above, with series-5? What option would I use?

Thanks again

[2018-08-04 17:50] junedchhipa commented on #16
This is the branch which contains the custom-radius code
https://github.com/apexcharts/apexcharts.js/tree/pie-slices__custom-radius

In the samples, you will find example - /samples/pie/pie-with-custom-slice-size.html

I have not merged it into master as I think, I need to find a better solution for exploding.
Thanks :)

[2018-08-04 17:50] andjules commented on #16
Awesome, Thanks!

On Sat, Aug 4, 2018 at 1:50 PM, Juned Chhipa <notifications@github.com>
wrote:

[2018-08-04 17:59] #10 closed

[2018-08-05 12:30] fundon opened #17 "If one item data is very small, it will be ignored"
See https://codepen.io/fundon/pen/bjjedz

[2018-08-05 17:34] junedchhipa commented on #17
It is not ignored, but the 1px stroke makes it look like it doesn't exist.
I removed the stroke, and I can see the tiny value
https://codepen.io/apexcharts/pen/PBBmMa

[2018-08-05 17:34] #17 closed

[2018-08-05 17:35] junedchhipa commented on #17
I have removed the rounding of the values when calculating angles. This will fix the percentage calculations

[2018-08-06 10:26] pribilinskiy opened #18 "Zoom by default"
Would be nice to auto-select the Zoom tool after initialization

[2018-08-06 10:28] pribilinskiy opened #19 "Zoom out after using Zoom tool doesn't work"
After using the Zoom tool you can't zoom out fully, only by using the Reset button (home icon)

[2018-08-06 10:29] pribilinskiy commented on #8
@junedchhipa Shift+click to pan like in plotly would be very nice to have too

[2018-08-06 10:33] junedchhipa commented on #8
@pribilinskiy I just checked out panning in plotly with the shift being held, and it is indeed a very good UX improvement.
I will definitely think more about this. Thanks

[2018-08-06 10:35] junedchhipa commented on #18
Good suggestion. Taken into consideration.
Will be given as an option - `options.chart.toolbar.autoselected = 'zoom'`
This way user can have zoom/pan whatever they prefer

[2018-08-06 13:28] pribilinskiy commented on #18
@junedchhipa Nice! From the plethora of charting libraries Apex stands out with user-friendly API, modern UI, nice docs, and now even quick dev response. Keep up the good work

[2018-08-06 13:31] junedchhipa commented on #18
Thanks for the kind words!

[2018-08-06 14:13] pribilinskiy opened #20 "Responsive charts with aspect ratios"
We are on the way of replacing Chartist with Apex and some charts have an aspect ratio specified (instead of height) to make the chart truly responsive.
Here's a list of supported ARs https://codepen.io/jesperkc/pen/EyWevN and it would be nice to have these in Apex too.

[2018-08-06 14:34] junedchhipa commented on #20
Interesting point!
I just checked out how chartist handles it, and it seems most of the settings are in CSS. The user can specify the class, and it will set the aspect-ratio/height accordingly.

I think, calculating in JS will allow me to get it done in less code, as so much CSS will increase the bundle size.
Very good suggestion though, I never realized why my charts were looking a bit odd in ver

[2018-08-06 14:43] pribilinskiy opened #21 "Missing dataLabels documentation"
https://apexcharts.com/docs/options/datalabels/

[2018-08-06 18:49] #19 closed

[2018-08-07 11:07] timojaask opened #22 "Updating colors doesn't seem to work"
Updating chart color doesn't seem to have any visible effect:
[code]

Here's a simple react component implementation example, with initial chart color set to red:

Expected behavior when `chartColor` changes:
- chart changes color to green
- the x-axis labels are removed

Actual behavior:
- only the x-axis labels are removed (color fails to change)

Not sure what happens here, but I'm guessing tha

[2018-08-07 11:57] #22 closed

[2018-08-07 12:00] junedchhipa commented on #22
I accidentally mutated the user-defined config object and that was preventing the colors to be updated.
Here is the working [codepen](https://codepen.io/apexcharts/pen/YjObGz) example which shows the color being successfully updated.

[2018-08-07 13:20] #11 closed

[2018-08-08 07:27] jimfilippou opened #23 "Offset background color support"
![sketch](https://user-images.githubusercontent.com/6877046/43822647-5e124d18-9af5-11e8-9e66-659dcb95ea00.png)

Is there any way to make the gray background of the 3 datasets transparent?

[2018-08-08 07:33] taheri24 opened #24 "Supporting TypeScript"
apex-charts is really great  , but I unable found to declaration file to easier development.

[2018-08-08 07:33] collegeimprovements commented on #2
That would be awesome :) Thanks a lot for this wonderful library.

[2018-08-08 07:56] junedchhipa commented on #23
You can hide the tracks instead of giving a transparent background
![screen shot 2018-08-08 at 1 25 46 pm](https://user-images.githubusercontent.com/17950663/43824075-9fa5f392-9b0e-11e8-89cb-092ce558f092.png)

Example: https://codepen.io/apexcharts/pen/YjJOgB

[2018-08-08 08:37] jimfilippou commented on #23
Thank you @junedchhipa, that worked fine!

[2018-08-08 08:37] #23 closed

[2018-08-08 17:23] availit opened #25 "<rect> attribute width: A negative value is not valid."
Hi,
I'm using Apexcharts in a Vue 2 project and currently calling the render() method within the component mounted() method. Now I get the two charts to render however it only displays on hot-reloading after saving new changes to a file. Not when the page hard-reloads.

I receive this error when the page with the charts loads from a page refresh:

`apexcharts.min.js?2227:1 Error: <rect> attribute

[2018-08-08 17:31] junedchhipa commented on #25
I am almost done creating the vue.js wrapper for ApexCharts.
I will test this bug too in the same project, wait for 1 or 2 days max :)

[2018-08-08 19:38] junedchhipa commented on #25
@availit  I tried your same code in the following [codepen](https://codepen.io/apexcharts/pen/WKYRrM), and it works just fine.
On my local environment too, your code works.
Anyways, good thing you got it working on your side.

[2018-08-08 21:53] RyanMooreOPS opened #26 "Stacked Bar Graph with Line?"
Hello - I'm trying to figure out how I can implement a stacked bar graph WITH a line. Whenever "stacked = True," the columns are parallel and not stacked. Only 1 axis is required. I'm looking forward to working with Apex Charts - really good stuff.

Thanks,

[2018-08-09 05:03] junedchhipa commented on #26
Hi @RyanMooreOPS
Currently, in mixed charts - stacked bars is not supported along with lines even though there is just 1 y-axis.

![screen shot 2018-08-09 at 10 30 45 am](https://user-images.githubusercontent.com/17950663/43878964-5291c11a-9bbf-11e8-88d7-778e54ee6385.png)

I have intentionally disabled the stacking in mixed-charts as there are a lot of other things to take care when dealing with t

[2018-08-09 06:59] alc32 opened #27 "Force chart to 100% of Parent's Div?"
Tried height: '100%', Is there any way to make the chart height-responsive?

[2018-08-09 07:54] junedchhipa commented on #27
If you do give `height: 100%`, the chart gets the parent element's height and sets the fixed height - which doesn't change when width changes.

So, setting `height: 100%` doesn't actually makes it responsive but makes the chart fill the available height which is set by parent div.

To make it responsive, only `width: 100%` should be set and height should be left out.

Another proposal for differen

[2018-08-09 14:04] availit commented on #25
@junedchhipa Yes, without the setTimeout I get that error when reloading the page, however if I just navigate to it from within the app it loads fine.. Maybe it's a conflict with another component? I am using Vuetify library but I don't believe that would effect it.

[2018-08-09 19:50] junedchhipa commented on #3
Hello people!
I just released Vue wrapper for ApexCharts
[vue-apexcharts](https://github.com/apexcharts/vue-apexcharts)

Next one is the react-wrapper

[2018-08-10 09:26] Apollinaire commented on #3
Hopping in here to get notified when the react bindings are released. Could you post a message here when it goes live?
While I'm here, great work on the library!

[2018-08-10 09:35] junedchhipa commented on #3
@Apollinaire Sure, I will post in this same thread for the react-bindings release.
I was planning to send an email newsletter, but I think, high priority is to release the basic versions for wrappers, write some tests and then later focus on other things.

[2018-08-10 09:38] junedchhipa commented on #25
@availit Released the Vue.js version https://github.com/apexcharts/vue-apexcharts
Let me know if the problem exists in this too.

[2018-08-10 09:42] junedchhipa commented on #4
Thanks for reporting. It was displaying correctly in chrome but in Safari, I noticed the same issue which you posted above. Commit https://github.com/apexcharts/apexcharts.js/commit/cf2688c77a8f140e78b4eaebc902b06cb153c5e4 fixed this issue.

[2018-08-10 11:29] jimfilippou opened #28 "Donut chart labels not hiding"
using this configuration
[code]

This comes out
![sketch](https://user-images.githubusercontent.com/6877046/43955621-b1da76d6-9ca9-11e8-8c9c-4e22ddd21d9a.png)

Any idea how to hide labels?

[2018-08-10 11:31] jimfilippou commented on #24
I'm waiting for @types/apexcharts to come out, but here is a **temporary** solution
[code]

[2018-08-10 11:36] junedchhipa commented on #28
Hi @jimfilippou
The dataLabels configuration which you have written is only applicable for radialBar charts (name/value).

For a global dataLabels configuration, you have to set the options in
`options.dataLabels.enabled = false`

The `options.dataLabels` is applicable to all chart type and you can read more here https://apexcharts.com/docs/options/datalabels/

[2018-08-10 12:02] junedchhipa commented on #24
@jimfilippou Thanks.
I would love a contribution in this area until I learn the basics of TypeScript ;)

[2018-08-10 13:20] GitSquared opened #29 "(!) Memory Leak in website demo page"
I am experiencing a critical memory leak issue when trying to access https://apexcharts.com/javascript-chart-demos/

I'm using Firefox Developer Edition 62.0b15 (64-bit), on Debian 9.5 "Stretch".

Here is a [video proof](https://www.youtube.com/watch?v=_IpTUAQOszY) (youtube link). You can clearly see the CPU going crazy at around 15 to 20 seconds in the video, only a few moments after loading the

[2018-08-10 13:26] arkhenstone commented on #8
Either this, or just make a double arrow cross like when you drag a windows on any OS. Any desktop OS have this symbol for moving windows around. The way it is now is complicated because it moves on its own just by hovering the chart. Look at amCharts lines chart demos for an implementation of this feature.

[2018-08-10 13:27] arkhenstone commented on #29
Yup, tried on two computer, RAM usage gone wild, had to restart my PC. Tried on Firefox Linux and Chrome Windows.

[2018-08-10 13:31] paulocoghi commented on #29
Yes, same issue here. Firefox 62.0b15 (64-bit) _(non-developer)_ on Ubuntu 16.04.5 64bit

[2018-08-10 13:48] junedchhipa commented on #29
@GitSquared Confirmed the bug.
The memory leak is due to the mixed chart. I disabled each chart one by one and disabling mixed charts made the page responsive. Otherwise, my firefox was also crashing every time I loaded the demo page.

I will investigate the mixed chart rendering, thanks for reporting

[2018-08-10 14:08] GitSquared commented on #29
@junedchhipa It's working for me now. Thanks for the quick response. Closing.

[2018-08-10 14:13] arkhenstone commented on #29
@junedchhipa Dashboard demo has the same problem

[2018-08-10 14:20] junedchhipa commented on #29
@arkhenstone I will check the Dashboard too. Combo chart (line/area/column) seems the main culprit. I will try to fix it quickly so I don't have to go to each and every place to disable Mixed Charts ;)

[2018-08-10 14:26] GitSquared commented on #29
I believe @arkhenstone reported this issue to also happen in Chrome, nah?

Is this still true or is this issue really Firefox-specific?

[2018-08-10 14:28] junedchhipa commented on #29
Ah! right. If the same problem persists in Chrome as well, then this is not browser specific. Reverting title change

[2018-08-10 16:05] availit commented on #25
@junedchhipa Hey I just refactored what I had setup previously using the vue version. It works great, thanks! Much cleaner integration using the imported components than initializing it manually with life-cycle methods.
The data and options are structured slightly different but I figured it out.. would be cool if the examples in the main library were also shown using the vuejs version but all in g

[2018-08-10 16:05] #25 closed

[2018-08-10 16:10] junedchhipa commented on #25
Thanks for the feedback. I agree examples are essential as the vue-apex docs are currently lacking a lot of details.
I will add more information in README as well as create a page dedicated just for vue.js integration.

[2018-08-10 18:02] junedchhipa commented on #29
I have fixed the issues which were crashing Firefox when viewing demo pages.

@arkhenstone can you please test the demo page as well as the dashboards?
@GitSquared can't reproduce the "heatmap" issue in firefox/chrome. Can you please test again and if error persists, give more info?

Thanks

[2018-08-11 08:35] #29 closed

[2018-08-11 19:46] #28 closed

[2018-08-12 19:27] #18 closed

[2018-08-13 12:44] timbarclay opened #30 "Hide y axes"
Is it possible to entirely hide y axes and have the chart plot area fill the whole space?

I've tried using a yaxis config like this:

[code]

That hides the y axes but leaves a blank space. I've tried setting various width properties to 0 too, but it comes out the same. Is there a way to hide the y axis (or axes) completely and have the chart plot area fill the whole horizontal space?

[2018-08-13 14:35] alc32 opened #31 "Tooltip not showing properly in bar charts"
Tooltip not showing in bar charts as in line charts, it is displayed outside the chart div.

![line](https://user-images.githubusercontent.com/23075572/44038231-a0625f44-9f16-11e8-903a-944d7da35fc2.png)
![bar](https://user-images.githubusercontent.com/23075572/44038233-a1fea542-9f16-11e8-85be-4e15bc0758ff.png)

[2018-08-13 14:56] junedchhipa commented on #30
Try this

[code]

The floating option will take the yaxis area out of chart's plotting area. It is similar to `position: absolute` in CSS :)

[2018-08-13 15:16] timbarclay commented on #30
Perfect, thanks.
I missed this because I didn't realise there were more config options beyond the ones in the sample object at the top of the page at https://apexcharts.com/docs/options/yaxis/. Thanks very much for pointing this out.

[2018-08-13 15:39] jimfilippou opened #32 "Incomplete examples"
Under this link https://apexcharts.com/javascript-chart-demos/line-charts/zoomable-timeseries/

there is this code
[code]

Where is `dataSeries[1][i].value` defined?

[2018-08-13 15:59] junedchhipa commented on #30
It should be in the docs. Don't know I how missed it.
Thanks for pointing out that page!

[2018-08-13 16:05] junedchhipa commented on #32
The data for the examples on the website may come from external places.
If you want to access all examples with complete code, they are located at this place
https://github.com/apexcharts/apexcharts.js/tree/master/samples

[2018-08-13 16:11] jimfilippou commented on #32
You're awesome bro 💨

[2018-08-13 16:11] #32 closed

[2018-08-13 17:35] #30 closed

[2018-08-13 18:38] jimfilippou opened #33 "Feature Request: Angular bindings"
The company I work for, would like to contribute to this issue by making an Angular 4+ wrapper for Apex charts. We specialize in Angular 4+ having a large portfolio of Angular projects. Let me know if you're interested. 😃

[2018-08-13 18:44] junedchhipa commented on #33
Hi @jimfilippou
I have recently released vue.js bindings and react.js component for ApexCharts is coming very soon.
But, as of now, I have no experience working with Angular. I have some plans for it, can't give a date when it will happen.

If anyone wants to contribute, let me know ;)

[2018-08-13 18:44] jimfilippou commented on #33
@junedchhipa i have updated my comment, take a second look

[2018-08-13 18:51] junedchhipa commented on #33
@jimfilippou That sounds great!
Warning! Currently, there are no unit tests - as I have some major issues getting unit tests to work with SVG.js correctly. I am planning to do some integration/e2e tests to ease adding new features, but you/your team might face some difficulties due to a lack of these crucial things.

If you still want to go ahead, please get in touch with me on my email - so I can

[2018-08-13 23:40] collegeimprovements commented on #2
are you still planning to creating an addong for pdf/jpeg/excel export in future ?

[2018-08-14 01:17] junedchhipa commented on #2
Hi, @collegeimprovements ,
Yes, I do have it in mind for future, the reason I closed this ticket is to prioritize the more important things for now listed below.
1. Tests
2. Decouple/refactor the code for plugins support
3. IE11 support
4. Wrappers/Bindings for major front-end frameworks
and so on...

Once I get past these crucial things, I can add enhancements with ease.

[2018-08-14 08:30] junedchhipa commented on #8
@arkhenstone Tested in firefox, the panning is weird, it moves without button down event.
I will have a look at it along with the shitf + click, thanks for reporting

[2018-08-14 08:31] arkhenstone opened #35 "Feature Request: Localization of datetime"
There is some UI elements in apexcharts that are locked into english, like date format. Even if we can configure the way it's displayed, we can't have the config format the date in another language.

Just let the datetimeFormatter object takes the localization token.

Vanilla JS takes it like with a simple string like 'FR-fr' as parameter of toLocaleString()

[MDN toLocaleString function documenta

[2018-08-14 12:42] junedchhipa commented on #35
@arkhenstone Tested the date.toLocaleString() function and it looks like it returns the full date and time in this format `20/12/2012 03:00:00`
This will result in more work for me to split the string and re-calculate label count and determine if years/months/day should be displayed.

I suggest, using the `options.xaxis.labels.formatter` function to override dates/times to suit your needs.
Here is

[2018-08-15 18:44] felixalguzman opened #36 "Add multiple annotations"
Is there a way to add multiple annotations based on array of data ?

something like this
![imagen](https://user-images.githubusercontent.com/17243615/44166575-b2806700-a099-11e8-9623-0e7115793775.png)

[2018-08-15 18:49] junedchhipa commented on #36
Are you looking for something like this?
![screen shot 2018-08-16 at 12 17 15 am](https://user-images.githubusercontent.com/17950663/44166760-d8cdf300-a0e9-11e8-9ee7-764634b2b2f8.png)

The dataLabels can also be formatted. Read more here
https://apexcharts.com/docs/options/datalabels/

[2018-08-15 19:43] felixalguzman commented on #36
Yes but the values are not the same in the Y axis, I want to put an array of calculated data, I am not sure if this is possible.

[2018-08-16 06:07] #33 closed

[2018-08-16 08:21] ludovicthomas opened #37 "Feature Request: Sparklines tooltip sync"
When using the Sparklines (or others graphic in a dasboard for example), it would be nice to be able to display the tooltip at the same on other graphs sharing the same X Axis.

It's the case in the sample Sales / Expenses / Profits, where on hover, it's good to see the Profits, but it's hard to see if it's based on increase of Sales or Expenses:
![cleanshot 2018-08-16 at 10 18 32 2x](https://user

[2018-08-16 08:27] junedchhipa commented on #37
Good suggestion.
I am thinking of making easier to sync similar charts by providing chart-ID in `options.sync` and that way user can input chartID in that array to sync charts which share a lot of things (xaxis in your case).

[2018-08-16 08:31] ludovicthomas commented on #37
Would be amazing! If you need help, let me know would be interested to contribute.

[2018-08-16 08:32] arkhenstone opened #38 "Reset button is resetting the chart to the first initial state"
Clicking on reset in the interactivity tabs option not only reset zoom, and selections, but it also remove any data received by asynchronous request.

I think this is misleading in some ways, since it deletes any modification of the chart but the very initial state.

[2018-08-16 11:12] #4 closed

[2018-08-16 11:14] junedchhipa commented on #9
Don't have any immediate plans to implement these.
The financial charts require a lot of work and are out of the scope for the moment.
Thank you for the suggestion though :)

[2018-08-16 11:14] #27 closed

[2018-08-16 13:44] jimfilippou opened #39 "How to change color on xaxis labels on grouped bar chart?"
![sketch](https://user-images.githubusercontent.com/6877046/44212210-69044a80-a173-11e8-9576-7967cb81b637.png)
How to change xaxis labels colors?
I'm using this configuration
[code]

[2018-08-16 16:28] ludovicthomas opened #40 "Chart not showing yAxis if draw after Sparkline"
It seems to have an issue when a Sparkline chart is rendered first in a page, and then after a "classic" chart is rendered.

The "classic" chart will not display the yAxis, even if we force it with options, or changing properties.

I have created a CodePen to show the issue: https://codepen.io/lthomas/pen/djBedE
At the end of the JS section, there are the two lines that can be reversed to reproduc

[2018-08-16 17:52] junedchhipa commented on #40
I looked at the demo, very strange!
I will get back to work to look more into it.

[2018-08-16 18:37] #40 closed

[2018-08-16 18:44] junedchhipa commented on #40
Fixed it. I was setting sparklines default options where I disabled labels for sparklines, and that was causing the issue.

[2018-08-16 18:50] ludovicthomas commented on #40
Amazing! 🥇You are quick to fix issues! Thanks a lot.

[2018-08-17 12:36] arkhenstone opened #41 "Mobile height / legends getting cropped"
Since the legend is part of the SVG, and you can't provide height and width altogether, on vertical screen on mobile, there is a lot of problems of readability on mobile phone. I've got a six lines chart on my page, and the legend is not displayed due to to the SVG not planning vertical space for it.

I could disable legends, but it would be hard to read which color is which line. An implementatio

[2018-08-17 13:20] junedchhipa commented on #41
If you don't provide any height, then the default height = width / 1.6

But, you can give height along with width also. If you don't want to give fixed height for large screens, you can configure the responsive options to give height just for mobile screens.

Here is the picture with height set to "auto"
![screen shot 2018-08-17 at 6 45 22 pm](https://user-images.githubusercontent.com/17950663/442

[2018-08-17 14:30] junedchhipa commented on #31
Now it's inside the chart area
![screen shot 2018-08-17 at 8 00 02 pm](https://user-images.githubusercontent.com/17950663/44271584-2d8f7c00-a258-11e8-88d0-9668327fdba6.png)

[2018-08-17 14:52] arkhenstone commented on #41
Even with that config, the legend overflow. Set more height, and the legend still overflow.

With height="300" :

![screenshot_20180817-164242](https://user-images.githubusercontent.com/17592744/44272339-d16b2e80-a23c-11e8-979d-df9cbda6a2dc.png)

With height="400" :

![400](https://user-images.githubusercontent.com/17592744/44272730-eb594100-a23d-11e8-8929-a772c2dba1e1.png)

[2018-08-17 15:02] arkhenstone opened #42 "Documentation for responsive"
Here : https://apexcharts.com/docs/options/responsive/

Just lack the object around the properties like that :
[code]

[2018-08-17 15:06] junedchhipa commented on #42
Thanks for bringing that missing parenthesis to attention.
The content is not very clear on that page, will improve :)

[2018-08-17 15:08] junedchhipa commented on #41
I will look into the legends getting cropped.
For a temporary solution, you can offset the whole legend area by
[code]

[2018-08-19 16:34] robinwassen opened #43 "Spark line chart appendData logs "dfsfgdgdgdf" and is not updating the chart"
I took the spark1 from the spark line demo and tried to append data by adding the following:

[code]

The data is not appended and 'dfsfgdgdgdf' is printed to the console every 300:th ms. Looking in the source code there is a random console log there: https://github.com/apexcharts/apexcharts.js/blob/8281a078618c8330f291305321b83fce6b74a192/src/modules/ZoomPanSelection.js#L203

[2018-08-19 16:38] robinwassen commented on #43
In addition to that `appendData()` documentation is inconsistent: https://apexcharts.com/docs/methods/#appendData

Name | Type | Default | Description
-- | -- | -- | --
newData | Array | [ ] | The data array to append the existing series datasets

While the example suggest that you send an object to `appendData()`

[2018-08-19 16:44] robinwassen commented on #43
The documentation for https://apexcharts.com/docs/methods/#updateSeries is also wrong

[code]

The argument in the example is an array with a named key which is invalid javascript, it is supposed to be:

[code]

updateSeries actually works for the spark lines though.

[2018-08-19 17:44] junedchhipa commented on #43
Thanks for bringing this to attention.

The documentation was indeed wrong for the `updateSeries()` and `appendData()` method, and I updated it on the website.

Also, removed the random console.logs.

I will check the appendData() with sparklines

[2018-08-19 17:50] junedchhipa commented on #43
The `appendData()` method works correctly with the updated doc. It was missing the array parenthesis.
The correct format would be this as updated in the website docs recently

[code]
Here's the result

![sparkline-update](https://user-images.githubusercontent.com/17950663/44311501-581f3780-a406-11e8-90b0-d83cb9f70d7c.gif)

[2018-08-19 17:52] #43 closed

[2018-08-19 17:53] robinwassen commented on #43
@junedchhipa Thank you for the quick response, this solves my issues! 👍

[2018-08-20 14:55] junedchhipa commented on #3
Released React-ApexCharts v1.0
https://github.com/apexcharts/react-apexcharts

Check it out and leave your feedback :)
Will add more examples of each chart type later.

[2018-08-21 04:42] sandangel commented on #3
@junedchhipa Hi, I really love your work and would like to contribute to angular bindings. Could you please tell me how to contribute. Thanks ^^

[2018-08-21 04:45] sandangel commented on #24
@junedchhipa I could help with this. We definitely need typescript support to be able to create angular bindings.

[2018-08-21 07:11] arkhenstone opened #44 "Apexcharts management of series"
Feels like something is wrong with the way Apexcharts remember the state of the chart (at least for line type).

I use one instance of apexcharts, where depending the category the user choose from a select input, the js asynchronously fetch for data, and inject series and config into apexcharts.

This works but it break quite some functionnalities :

FIrst the zoom is broken (since the latest vers

[2018-08-21 07:32] junedchhipa commented on #44
I think this is related to the issue #38
The zooming options keep the initial state in memory, but when updating data, it seems the new data is not reflected.
I am working on this, thanks for reporting

[2018-08-21 08:29] junedchhipa commented on #44
I just tested the updateOptions() method with a different set of timeseries and it seems like for me zooming works as expected.
Can I see what options are you updating in updateOptions() method?

[2018-08-21 08:33] junedchhipa commented on #44
Also, I would suggest trying with the latest build v1.3.9

[2018-08-21 10:25] junedchhipa commented on #44
Yeah, maybe. I will update the vue wrapper's dependency and test updating the series with a large difference in the x-axis values.

[2018-08-21 10:52] junedchhipa commented on #3
@sandangel
I appreciate your help. I don't have much experience with Angular, so definitely your contribution is most welcome.
I haven't created a repo for angular, so you can start creating your own. Once you are done, send me the repo link, I will review and then add it to ApexCharts-org.
Thanks

[2018-08-21 11:51] arkhenstone opened #45 "Zoom disabled not working correctly"
As the zoom object is selected by default, setting :

[code]
Just hide zoom tools, but do not disable the ability to zoom by clicking without choosing a tool.

Maybe add a "none" object to autoselected toolbar property and set it by default (or hint about this in the documentation).

[2018-08-21 12:11] junedchhipa commented on #45
Good catch!
Will think of another way to handle this

[2018-08-21 15:54] nick-keller opened #46 "tooltip.y.formatter and yaxis.labels.formatter not working"
On a donut chart (did not check other types) the `tooltip.y.formatter` and `yaxis.labels.formatter` are never called. Therefore values cannot be formated properly.

[2018-08-22 09:42] jimfilippou opened #47 "Area & Line charts have a huge margin on each side when i give them labels."
This configuration

[code]

looks like this
![sketch](https://user-images.githubusercontent.com/6877046/44455869-cc74f900-a607-11e8-8fc9-554a4d97be57.png)

**However** this configuration
[code]
The chart looks like this
![sketch2](https://user-images.githubusercontent.com/6877046/44456270-bfa4d500-a608-11e8-84eb-89b6c6cc4068.png)

Note that on the second chart, the third label is hidden.
I want th

[2018-08-22 10:50] junedchhipa commented on #46
Yes, `tooltip.y.formatter` was not working in donut/pie. Fixed it.
Btw, `yaxis.labels` will only work for axis charts (line/column/area) - not for pie/donuts.
Thanks for reporting

[2018-08-22 11:54] #39 closed

[2018-08-22 11:58] junedchhipa commented on #39
Fixed the x-axis color setting which I missed for bar charts
Note that the name of the property is changed from color to colors `xaxis.labels.style.colors`
It accepts an array as well as a single string color. Here is the doc - https://apexcharts.com/docs/options/xaxis/#labelsColor

[2018-08-22 12:48] #13 closed

[2018-08-22 13:05] nick-keller commented on #46
Once again awesome work @junedchhipa 👏

[2018-08-22 15:13] #45 closed

[2018-08-23 12:31] junedchhipa commented on #46
Here's a [codepen example](https://codepen.io/apexcharts/pen/aaOrjE) using the latest version.

The `tooltip.y.formatter` works as expected. Let me know if I have not misunderstood the main issue.

[2018-08-23 12:32] nick-keller opened #48 "Transition of donuts charts are awkward"
When data is updated the donut chart has awkward animations. Even when just changing the color for instance:
![donut](https://user-images.githubusercontent.com/2682443/44525473-4cbb5d00-a6e1-11e8-9de5-5143e1b4e829.gif)

[2018-08-23 13:46] apertureless opened #49 "🐞 lineCap has no effect"
Hey there!

I've tried to create a line-chart with the vue-apexcharts.
However I guess the issue is related to the core.

It seems that the `stroke.lineCap` option has no effect.
According to the [docs](https://apexcharts.com/docs/options/stroke/) the lineCap should have three options: `butt`, `square` and `round` however neither of those is changing the line chart. I am aiming for the `round` opt

[2018-08-23 13:57] junedchhipa commented on #49
Hey Jakub,
I confirm this doesn't work as expected. Had a quick look at the code, and I have hard-coded "butt" option in the drawPath method.

Thanks for reporting, will be fixed soon

[2018-08-23 14:03] junedchhipa commented on #49
Fixed in https://github.com/apexcharts/apexcharts.js/commit/a10dbf69a15cbc2b4bfadc5747f15bb745c17211

[2018-08-24 09:27] alc32 opened #50 "Legend not showing correctly"
If the text is a bit long, it is shown above the options, and if window size is small, text is not displayed properly.
 [Codepen](https://codepen.io/alc32/pen/eLpjrM)

![Issue1](https://user-images.githubusercontent.com/23075572/44576692-821e8400-a78f-11e8-8974-0e8782c395c4.png)

![Issue2](https://user-images.githubusercontent.com/23075572/44576693-821e8400-a78f-11e8-9f21-b6c774435ac0.png)

[2018-08-24 10:51] junedchhipa commented on #50
HI Alejandro,

Thanks for reporting the issue.

The legends are drawn by SVG methods so not easily controlled with CSS. The toolbar is a collection of simple HTML elements and is customizable with the help of CSS.
So, we can move the toolbar up/down if it's getting in the way when we put the legends at the top. Or we can move the legends in options which I will show in the example below.

The reas

[2018-08-24 16:08] katarina-simnova opened #51 "Anotations not work in stacked bar charts"
Anotations in stacked bar charts don't show at all

[2018-08-24 16:27] junedchhipa commented on #51
Can you please provide more information?
Were you trying in horizontal bars or vertical columns?

I would like to see your code what have you tried.

[2018-08-24 18:34] KatarinaSimnova commented on #51
Finally, annotations appeared in my chart, but they still do not work properly. Here is my code:

var options = {
        chart: {
            height: 200,
            type: 'bar',
            stacked: true,
        },
        plotOptions: {
            bar: {
                horizontal: true,
            },
        },
        series: [{
            name: 'Marine Sprite',
            data: [44]

[2018-08-24 19:12] junedchhipa commented on #51
Thanks for providing details, the code is helpful to generate the issue on my side as well.

I confirm that annotations doesn’t works as expected on horizontal bar charts.
I will soon address the issue in the next patch release.

Thanks

[2018-08-25 14:40] felixalguzman opened #52 "How to add custom tooltip to donut chart"
I want to add a array of tooltip to my donut chart. This is my chart
![image](https://user-images.githubusercontent.com/17243615/44619345-e6eee280-a852-11e8-9aff-c6b70c54367e.png)

[2018-08-25 14:42] junedchhipa commented on #52
Sorry, I don't get your question correctly.
Can you please elaborate what are you trying to accomplish?

[2018-08-25 14:50] felixalguzman commented on #52
I want to display some text instead of the default that is series. For each value in donut chart I have a text that i want to present as a tooltip

[2018-08-25 14:56] junedchhipa commented on #52
You can use label formatters to modify the text instead of displaying the default one.
See the [example](https://codepen.io/apexcharts/pen/aaOrjE)

You will need to set
[code]

[2018-08-25 15:00] felixalguzman commented on #52
ok that would work. Is it possible to remove the series name?

[2018-08-25 15:01] junedchhipa commented on #36
Here is a [codepen](https://codepen.io/apexcharts/pen/yxePzM) example

[2018-08-25 15:04] junedchhipa commented on #52
Yes, but with CSS :)
Check the same example I just updated

[2018-08-25 15:05] #50 closed

[2018-08-25 15:06] junedchhipa commented on #48
Yes, it doesn't look very pretty.
I will try something else for animation of updated pie/donut charts

[2018-08-25 15:08] felixalguzman commented on #52
Ok thanks

[2018-08-25 15:08] #52 closed

[2018-08-25 15:13] junedchhipa commented on #52
I forgot that you can also do it without CSS display:none using `tooltip.y.title.formatter` function :)

[code]

[2018-08-25 15:18] #42 closed

[2018-08-27 05:15] #47 closed

[2018-08-27 17:11] mhf-ir opened #53 "RTL support ?"

[2018-08-27 17:34] mhf-ir commented on #53
Thank you for fast response :+1:

Actually it's not rtl, just the translation. RTL text is CSS/HTML property.
See example: https://codepen.io/anon/pen/yxOZzr

[2018-08-27 18:16] junedchhipa commented on #53
Thank you for enlightening me, I tested the `dir="rtl"` attribute on chart element and the tooltip got corrected. But the title text and legends got misaligned.

Here is what I got
![screen shot 2018-08-27 at 11 44 18 pm](https://user-images.githubusercontent.com/17950663/44677253-23892c80-aa53-11e8-92f8-0a56422a4580.png)

Looks messed up!
I haven't taken this into consideration in the beginning b

[2018-08-27 19:57] JCQuintas commented on #48
My animations are even weirder. The shape gets close to an '8' somehow then back to normal. I just disabled animation for donut chart while waiting for a fix.

[2018-08-27 19:59] junedchhipa commented on #48
Right!
I am guessing the '8' might be because of angle getting bigger than 360 when animating.
Will look into it.

[2018-08-27 20:20] junedchhipa commented on #9
Reopening this as I got a lot of requests for this.

Will be provided in the next major release. It won't be a breaking change as most of the barChart code will be reusable. Just thinking of how the user will provide the input.
I am guessing OHLC values in y property of the `series.data` would work.

Thanks for the suggestion.

[2018-08-27 21:54] unknownentity123 opened #54 "dataPointSelection event not working for pie and donut chart types"
I am attempting to utilize a rollup summary pie chart to filter a bar chart to only show related data to that specific pie chart category or categories. I am writing in the dataPointSelection event as some of the samples show using the histogram or bar charts and cannot get the event to fire off when selecting one of pie slices. At this point, just to test for functionality I am logging to the con

[2018-08-27 22:00] zocheyado opened #55 "Theme examples?"
Not a bug exactly but I just read over all the docs and I can't seem to find an example of what theme's look like. I see that there are 10 presets but not what they look like. Any chance this is planned?

[2018-08-28 04:47] junedchhipa commented on #55
I will add a demo of all theme on the theme page with a dropdown so the user can see which colors are in the theme

[2018-08-28 04:59] junedchhipa commented on #55
Here is the [codesandbox demo](https://codesandbox.io/s/qzjkzmzxoj)

And, here is the updated website page
https://apexcharts.com/docs/themes/

[2018-08-28 06:27] #54 closed

[2018-08-28 06:30] junedchhipa commented on #54
You didn't miss anything, I missed the dataPointSelection event for pie/donut charts.
Just pushed the latest fix, it should work now

[2018-08-28 11:33] disagol opened #56 "Repetaed yaxis tick value when max value is small"
I've been experiencing some difficulties when trying to render an apexchart when the value  of the yaxis is repetaed across xaxis values.
[Here](https://codepen.io/anon/pen/wEWpdG) is the example I am talking about. Any advise or guidance would be greatly appreciated.
Thanks.

[2018-08-28 11:46] junedchhipa commented on #56
You are trying to create a backward timeline, meaning the larger datetime value is printed before the smaller datetime value.

I updated your [codepen](https://codepen.io/apexcharts/pen/jvrYpL) example and see no issue with small values in y-axis

[2018-08-28 11:51] apertureless opened #57 "Question: Access chart data inside legend"
Hi,

is it possible to access the chart data inside the legend?
For example I want to show the individual value next to the legend text in a doughnut chart.

[code]

And the legend should display:

[code]

However inside the `legend.formatter` I have only access to the label itself.

[2018-08-28 11:53] disagol commented on #56
Ohh I see, anyway It was happening for forward timeline too but It seems this line val.toFixed(2) i the formatter did the job.
Thanks for your time!

[2018-08-28 11:54] junedchhipa commented on #56
No worries

[2018-08-28 11:54] #56 closed

[2018-08-28 12:01] junedchhipa commented on #57
Very good point and I have already taken that into consideration.
You can do it like this

[code]
![screen shot 2018-08-28 at 5 31 14 pm](https://user-images.githubusercontent.com/17950663/44721629-326dee80-aae8-11e8-80cc-739972a68911.png)

Will add in the docs.
PS:  I need to write better docs, I suck at it ;)

[2018-08-28 12:15] apertureless commented on #57
Sweet! Thanks 🙏

Followup question: Is it possible to pass in custom markup for the labels?

[2018-08-28 13:07] junedchhipa commented on #57
Not directly, but there is another way you can style your legend text elements.

If you return an array in the `legend.formatter` function, your texts are split into different tspan elements inside the parent <text> element. So, you can then target them with CSS and apply styles.

Here is how you would format the `legend.formatter` function
[code]

and then you can apply CSS like
[code]

which wil

[2018-08-28 13:36] felixalguzman opened #58 "Problems when there is no data"
I fetch data depending on the the date selected in a range, by default the date is from today, when there is no data my page slows down a lot. Maybe I have a bad configuration.

Here is my config.

`let options = {
                    chart:{
                        type: 'bar'
                    },
                    series:[{
                        name: 'Producción',

[2018-08-28 13:57] junedchhipa commented on #57
btw, you might need to update the apexcharts version to v1.3.14 to use the above settings

[2018-08-28 13:58] junedchhipa commented on #58
Can you please create a codepen or codesandbox example showing how you update the data?

[2018-08-28 14:13] felixalguzman commented on #58
https://codesandbox.io/s/9jk0kwll6r?module=%2Fsrc%2Findex.js

The page crash if there is no data

[2018-08-28 14:17] apertureless commented on #57
Ah I see, thanks!

[2018-08-28 14:17] #57 closed

[2018-08-28 14:27] ludovicthomas opened #59 "Custom tooltip not working"
The custom tooltip function seems to not be working properly, and the demo is not showing any tooltip: https://codepen.io/apexcharts/pen/NBdyvV

After digging into the code, it seems that the issue is that when calling https://github.com/apexcharts/apexcharts.js/blob/022f242b99629bdd4a12cd70e54aaec90cd87dbb/src/modules/tooltip/Labels.js#L27

The method arguments `{ i, j }` are missing.
When added,

[2018-08-28 14:28] felixalguzman commented on #58
I think it's working now

[2018-08-28 14:40] junedchhipa commented on #59
Ouch! The last tooltip refactoring caused this.

Thanks for reporting. Don't hesitate to create a PR for these obvious issues ;)
Lack of tests may scare away some people, but I will add as I get more time.

[2018-08-28 14:41] junedchhipa commented on #59
Fixed in https://github.com/apexcharts/apexcharts.js/commit/cf8eb08be9c2ce3beeef8e0402117cb960e936b2

[2018-08-28 15:10] ludovicthomas commented on #59
True! Will do next time. Thanks for the quick fix, as always :)

[2018-08-28 15:27] #59 closed

[2018-08-28 16:50] #55 closed

[2018-08-28 17:00] zocheyado opened #60 "Apex Charts Isomorphic?"
Been using this package for the past few days and my only real complaint is that that it is not isomorphic. Currently using React wrapper with Next.js, any chance this is on the timeline for the next week, month, year? Awesome package btw.

[2018-08-28 19:20] JCQuintas opened #61 "Donut on click issue when 100%"
When you click on a donut segment and it's at 100% the segment disapears instead of "increasing".

example:
https://codesandbox.io/s/ry6jw3wmqq

[2018-08-29 01:10] #53 closed

[2018-08-29 04:41] junedchhipa commented on #58
The new release fixes this.
Your same example doesn't crash now
https://codesandbox.io/s/3rjxk02vz1

[2018-08-29 09:33] #61 closed

[2018-08-29 09:36] junedchhipa commented on #61
I have disabled the zooming when clicking on a 100% donut slice, as animating with svg.js with the new path is causing issues.

[2018-08-30 12:30] Carniatto commented on #35
I checked your example and the `date` passed to the formatter is already formatted before. If you put two different years in the series it gets all wrong.

[2018-08-30 14:33] unknownentity123 opened #62 "Bug: Multiple SVG path errors when using updateSeries() method on Pie Chart when Animation argument is set to true"
When increasing the Series Array of a Pie Chart with the Animation argument set to true (default behavior) the pie chart will update to show a new set of pie slices but reveal them in a weird spinning fashing and any categories that were in excess of the originally drawn chart will not show a filled in color. The codesandbox.io example illustrates the issue. The decreasing case where a series is t

[2018-08-30 14:48] junedchhipa commented on #62
Very good explanation of the issue and I wish everyone to follow the same detailed information to reproduce the error on my side.

Coming back to your reported bugs,
I agree that the animations for pie/donut charts require some more attention now due to bugs reported by other users also. I will take care of the animation part.

Regarding labels in the legend, if you call `updateSeries()` then it d

[2018-08-30 14:52] unknownentity123 commented on #62
Indeed....that actually never occurred to me to update both using the updateOptions directly. Thanks!

[2018-08-30 15:13] #60 closed

[2018-08-30 19:37] JCQuintas opened #63 "Can't replicate selection and hover behaviour on bar chart"
The bar chart here:

https://apexcharts.com/javascript-chart-demos/bar-charts/basic/

Has both hover and selection behaviours, changing colors and all. Howerver, I setup a codesandbox with the exact same code in the example above and it does't highlight hovered/selected items.

https://codesandbox.io/s/oq85k0l2wq

I tried using the `states` option to no avail. I'm not sure if it's a bug or just an

[2018-08-30 19:40] junedchhipa commented on #63
Thank you for reporting, it looks broken in the recent releases.
I will take a look.

[2018-08-30 20:14] #8 closed

[2018-08-30 20:14] junedchhipa commented on #8
Shift+mousedown = panning enabled.
Firefox bug while panning fixed.

[2018-08-31 07:18] alc32 opened #64 "Default zoom when xaxis type is datetime"
First and last datalabels are not displayed correctly

![Datetime](https://user-images.githubusercontent.com/23075572/44898197-70446000-acfe-11e8-9d59-adcebcd41ca1.PNG)
![No datetime](https://user-images.githubusercontent.com/23075572/44898199-70dcf680-acfe-11e8-84a6-9498e98212e7.PNG)

[CodePen](https://codepen.io/alc32/pen/eLpjrM)

[2018-08-31 07:43] #64 closed

[2018-08-31 07:43] junedchhipa commented on #64
Thanks for reporting.
Fixed it

[2018-08-31 14:07] JCQuintas opened #65 "Have a way to display data labels even when their content is 0"
In my application I have a barchart that shows percentages, and it shows the dataLabels for every row, excepts rows that are "0".

I would like a way to always show the labels.

In the example bellow, United Kingdom has a value of 0 and the data label doesn't show:
https://codesandbox.io/s/oq85k0l2wq

[2018-08-31 15:01] junedchhipa commented on #65
I saw that and just corrected it.
When the value was 0, it was getting ignored.

Thanks for reporting

[2018-08-31 15:02] #65 closed

[2018-08-31 18:26] JCQuintas opened #67 "[Question] Is there a way to render the chart with a given series already selected?"
Be it one or multiple selected series?

[2018-08-31 18:29] junedchhipa commented on #67
Which chart type are you referring to?
Pie Chart?
Because in axis charts, the series is never selected.
It hides/shows based on legend clicks. Or a particular series highlights if the user hovers over a legend.

[2018-08-31 18:35] JCQuintas commented on #67
Bar chart in my case.

My designers want to display a few age percentages on a chart, but have some already selected based on filter criteria (Example below).

![screen shot 2018-08-31 at 15 33 05](https://user-images.githubusercontent.com/9891233/44929998-52ddb900-ad33-11e8-8dee-2570641b6cac.png)

[2018-08-31 19:28] junedchhipa commented on #67
Currently, you cannot select a dataPoint by default for any chart type, but we will see in future as an enhancement :)

Right now, if you just want to highlight certain dataPoint in the bar chart, then you can take advantage of the color range properties in the bar chart options.

[code]

I created an example on [codepen](https://codepen.io/apexcharts/pen/LJxaRE) which resulted in something like t

[2018-08-31 19:35] JCQuintas commented on #67
Nice! I'll take a look into that property.

Thanks :)

[2018-08-31 19:38] #67 closed

[2018-09-01 10:36] junedchhipa commented on #1
Fixed the compatibility issues with IE11 after days of painful debugging in VirtualBox ;)
Used polyfills for most ES6 features. Svg.js already good support for IE11, so no major hurdles in drawing elements.

The latest release 1.4.0 fixes this

[2018-09-01 10:36] #1 closed

[2018-09-01 14:42] alc32 commented on #31
Something similar happens with heatmap: [Codepen](https://codepen.io/anon/pen/Wgpxyy) @junedchhipa

[2018-09-02 08:38] putyourlightson opened #68 "Reset zoom not respecting initial values"
I haven't tested all settings, but in v1.3.1 I'm setting the following for a zoomable line chart:

[code]

When I zoom in and then click the "reset zoom" button, the `max` setting of `100` is ignored and the chart's max value is used instead. I assume this is not expected behaviour.

Thanks you for the amazing charting library!!

[2018-09-02 08:55] junedchhipa commented on #68
This is somewhat related to #38

When I will fix #38, this will be taken care of, thanks for reporting 👍

[2018-09-02 09:12] #62 closed

[2018-09-02 09:43] junedchhipa commented on #62
When the pie/donut series length is different while updating, the chart will animate from the beginning preventing the empty colored slices.

This will prevent the `Error: attribute d: Expected number ...."` errors.
Also, regarding the weird "spinning animation" while updating, I have tried something else as seen on this thread #48

[2018-09-02 10:03] #68 closed

[2018-09-02 10:26] putyourlightson commented on #68
Great thanks!

[2018-09-02 10:41] #41 closed

[2018-09-03 06:28] junedchhipa commented on #48
@unknownentity123 Thanks for your input.

I decided not to make it complicated and spent some more time to achieve a natural looking animation.

Finally, after some hours of playing with "startAngle" and "toAngle", I was able to achieve a very smooth transition.
Here is the end result
![pie-animation](https://user-images.githubusercontent.com/17950663/44970705-996c2700-af70-11e8-9cab-945d093f9fd7.

[2018-09-03 06:38] junedchhipa commented on #48
Here is the [codepen](https://codepen.io/apexcharts/pen/LJyPoq) example to play with

[2018-09-03 09:09] nick-keller commented on #48
Awesome work here, this is looking perfect.
On the codepen the graph blinks when I click a button, a bit strange.

[2018-09-03 09:43] junedchhipa commented on #48
Yes, I can see a bit of flickering, couldn't find an easy fix for this yet.
I will keep an eye on it though.

[2018-09-03 10:16] jimfilippou opened #71 "Method "updateSeries" does not animate"
Using this code
[code]

`apexEl` is an element in the DOM and r() is a tiny function that generates a random number from 0 to 200. You don't need to worry about angular specific code, focus on the code below instead. The `update` method is this

[code]

[2018-09-03 14:15] unknownentity123 commented on #48
Awesome...fantastic solution! Love the animation and it looks a lot more natural that what I was suggesting so a win all the way around!

[2018-09-03 17:26] JCQuintas opened #72 "Inconsistent Data Label positioning in horizontal Bar Charts"
There are a few insconsistencies in Data Label's positions. (Was working in 1.3.18 before upgrading to 1.4.2)

As you can see in https://codesandbox.io/s/oq85k0l2wq

Both graphs have the same absolute values, but one is negative and the other positive. Values 0.01 and 0.02 have a diferent position than -0.01 and -0.02. Also, the values with Zero position themselves weidly in boths graphs.

[2018-09-03 19:31] junedchhipa commented on #72
This might be the cause of the commit which fixed 0 value appearance on bar charts as it was not correctly being displayed before.
Thanks for reporting. I will look into it

[2018-09-04 13:16] apertureless opened #73 "Debug Log in Production Build"
Hey, with commit https://github.com/apexcharts/apexcharts.js/commit/f36029dcd97b3d71f8085b732780fe56d7d478ee#diff-3d1ce60dbf700c7866183288afcfce53R370

You introduced a debug output in the production build, which results with a lot of output in production sites in the console.

You should consider either to wrap the console.log into some function which works with ENV variables (output only shown i

[2018-09-04 13:26] #73 closed

[2018-09-04 13:27] #48 closed

[2018-09-04 13:43] unknownentity123 commented on #48
This morning, I'm working on using the newest release and the animation is perfect...however now any edge between slices that occurs past the 180 degree mark of the pie/donut creates a drop shadow on the previous slice that wasn't present in the previous releases before the fix. The drop shadow may also be present on less that 180 edges but I can't seem to really see it on my examples and might ju

[2018-09-04 14:35] junedchhipa commented on #48
Hi @unknownentity123

The drop shadow was always there, but I changed 1 default setting in `fill.opacity`

[code]

This change has made the shadow darker. If you want to lighten the shadow, you can reduce the opacity of the shadow.
In your example, try 0.05 instead of 1

The reason I did the `fill.opacity` change is to not modify the default color settings given by the user as it may cause inconsi

[2018-09-04 16:55] unknownentity123 commented on #48
Gotcha...thanks! It's crazy that 0.2 made that much of a difference in visibility. Although I did remove the stroke between the slices which would break up and hide some of the shadow.

[2018-09-05 08:32] arkhenstone opened #74 "Series disappear when resizing"
Tested with Firefox and Brave Browser (chromium based) here's what happens.
Datas are not refresh but they are initially set by ajax request.
It's because of breakpoints, I've only set that :
[code]
See below :
![issue_resize](https://user-images.githubusercontent.com/17592744/45081133-cd715480-b0f6-11e8-96b9-93b1e75fb046.gif)

[2018-09-05 10:34] flyinghail opened #75 "Dual Y-axis support？"
It seems that apexcharts does not currently support dual y-axes.

[2018-09-05 10:36] junedchhipa commented on #75
It does support it
https://apexcharts.com/javascript-chart-demos/mixed-charts/multiple-yaxis/

[2018-09-05 10:42] flyinghail commented on #75
@junedchhipa thanks

[2018-09-05 10:42] #75 closed

[2018-09-05 10:45] junedchhipa commented on #74
Ok, so on resize also the initial Series is not taken into account when responsive breakpoints are used.
Interesting!
Thanks for reporting @arkhenstone
This will be worked on along with #38

[2018-09-05 13:30] tcarlsen opened #76 "Having chart inside a custom element breaks check"
I'm doing a custom element with apexcharts, but doing so makes this check fail:
[code]
on a second notice, I get this `Exception is not defined` when the check tries to throw this error
[code]

Just to clarify, removing this check, and chart works all fine.

[2018-09-05 13:55] junedchhipa commented on #76
ApexCharts has a dependency on [SVG.js](https://github.com/svgdotjs/svg.js) and the error you are getting is part of the SVG.js checks.

I will raise an issue on svg.js and see what can be the solution to it.

Can you please post the steps to reproduce the error on my side?
Thanks.

[2018-09-05 13:57] junedchhipa commented on #9
An update on this one.

Candlestick's progress is going well, and I have just finished the initial version.
I will merge with the master soon, here is a small glimpse of the candlestick in ApexCharts

![candlestick-chart](https://user-images.githubusercontent.com/17950663/45097984-ab50f400-b141-11e8-85ef-b6f95157787d.gif)

[2018-09-05 14:06] tcarlsen commented on #76
[code]

[2018-09-05 14:13] junedchhipa commented on #76
Thank you @tcarlsen,

I see that you are using React, so have you given [react-apexcharts](https://github.com/apexcharts/react-apexcharts) a try if it solved your issue?

Let me know if you already tried that.

[2018-09-05 14:17] tcarlsen commented on #76
This ain't React. This is a normal custom element (https://developers.google.com/web/fundamentals/web-components/customelements)

[2018-09-05 18:28] tcarlsen commented on #76
for the html:
[code]

[2018-09-06 03:30] waguirre opened #77 "DataPoint Selection Event in Line charts"
Event pointSelected event chart..

[2018-09-06 06:30] junedchhipa commented on #72
Fixed in https://github.com/apexcharts/apexcharts.js/commit/8c456df21ae830af1febcde9612b138be971db1d

[2018-09-06 06:30] #72 closed

[2018-09-06 07:19] junedchhipa commented on #77
Currently, the dataPoint-Selection event works for line charts where the marker size is more than 0 and `tooltip.intersect = true`

So, this configuration would work for capturing the event

[code]

I am looking for ways to capture this event when a user doesn't click directly on the marker, but anywhere in the chart area.

[2018-09-06 08:51] e4r opened #78 "[Angular] ERROR TypeError: r.default.extend is not a function"
Hey guys, I've been working with ApexCharts (which I find incredibly well done) since a bit ago, but when I decided to include this library in my angular project everything works pretty fine until I build the project with the optimisation flag.

I've read here and there ([e.g.](https://github.com/angular/angular-cli/issues/10658)) that the building process is sometimes buggy.

In my case, when I r

[2018-09-06 10:51] e4r commented on #24
Hey guys, I've extended a bit the interface kindly posted by @jimfilippou , however I am still unsure about which are the required fields. Hope it helps!

`export enum ChartHorizontalAlign {
  left = 'left',
  center = 'center',
  right = 'right'
}

export enum ChartVerticalAlign {
  top = 'top',
  middle = 'middle',
  bottom = 'bottom'
}

export enum ChartTypes {
  line = 'line',
  area = 'area',

[2018-09-06 11:39] pnemi opened #79 "Legend text color"
Hello,

in doc, there's an options.legend.style.useSeriesColors property but when text node is created in Legend.js options.legend.useSeriesColors property is checked instead.

[2018-09-06 11:58] junedchhipa commented on #79
Thanks for pointing out @pnemi
The docs were inconsistent with the options.

The correct way has to be
[code]

Updated the docs on the website as well.
[legend config](https://apexcharts.com/docs/options/legend/)

[2018-09-06 11:59] junedchhipa commented on #79
Fixed in https://github.com/apexcharts/apexcharts.js/commit/07d5f135450abfb23f7d5c0a5e2cfe1c0f4c47ce

[2018-09-06 12:02] pnemi commented on #79
It's not just docs. Take a look at Legend.js.

<img width="956" alt="screen shot 2018-09-06 at 14 02 08" src="https://user-images.githubusercontent.com/5919903/45156108-7db98880-b1dd-11e8-9e81-14b28410163e.png">

[2018-09-06 12:36] junedchhipa commented on #79
As said,
this is fixed in https://github.com/apexcharts/apexcharts.js/commit/07d5f135450abfb23f7d5c0a5e2cfe1c0f4c47ce

![screen shot 2018-09-06 at 6 06 18 pm](https://user-images.githubusercontent.com/17950663/45157738-9d61a880-b1ff-11e8-8ffb-b7e55032cba2.png)

[2018-09-06 12:38] junedchhipa commented on #79
The change will be reflected in the next patch release :)

[2018-09-06 13:19] Carniatto opened #80 "xAxis when using Timeseries inconsistent behavior"
I've been using ApexCharts with timeseries and Line charts. I encountered three weird behaviors regarding the way the xAxis is drawn:
- The first and last data point are often cropped on the chart:
![screen shot 2018-09-06 at 15 32 24](https://user-images.githubusercontent.com/1366831/45160877-cfb4db00-b1ea-11e8-95a9-236b2f2d5e9b.png)

- When only two days are in the series the `xAxis` has hours a

[2018-09-06 13:21] Carniatto opened #81 "Timeseries first and last datapoint cropped"
When using time series the first and the last data point are cropped sometimes in `xAxis`:

https://codepen.io/apexcharts/pen/JpWmNe

[2018-09-06 13:30] #81 closed

[2018-09-06 13:49] junedchhipa commented on #80
Hi @Carniatto

Actually, this is the way I have kept the x-axis tick generation to differentiate the days and hours when the difference is more than 1 day.

In certain cases, a user may not like this and would just prefer a single format - in your case: just the hours.

So, as suggested by you in another thread, I am going to provide the raw date-time value in the `formatter` function as a paramet

[2018-09-06 14:11] Carniatto commented on #80
Thank you @junedchhipa. Can I suggest the option to add padding in the beginning and the end so all the points are contained inside the Chart? avoiding the first problem

[2018-09-06 14:15] junedchhipa commented on #80
@Carniatto Ah! I didn't see the edited comment.
So, the cropped dataPoints issue was fixed in the apexcharts@1.3.20. May I ask which version of ApexCharts you are testing on?

[2018-09-06 14:28] Carniatto commented on #80
@junedchhipa I'm using version: 1.3.12.

[2018-09-06 14:31] junedchhipa commented on #80
Yes, you are right - Currently, you have no control over the number of ticks when `type = datetime`

[2018-09-06 14:41] Carniatto commented on #80
@junedchhipa thanks for the quick response,  let me know when you shipp the `raw datetime`.  I'd like to contribute to the repo like add download as png or something like this. Let me know if I can open a PR.

[2018-09-06 15:05] waguirre commented on #77
Excellent working

[2018-09-06 15:16] junedchhipa commented on #80
@Carniatto I appreciate your willingness to make the library better.
I will soon create a simple contributing guideline.
For now, just create a PR with "feature/featureName" branch.
Thanks

[2018-09-06 15:16] #80 closed

[2018-09-06 17:07] #77 closed

[2018-09-06 21:04] #79 closed

[2018-09-07 06:11] sandangel commented on #24
thanks everyone, I'm gathering all of these and hopefully could send a draft PR to `@types` repo today or tomorrow.

[2018-09-07 14:59] hpoul commented on #78
I had the same error, only way i found to work around it yet, was to disable the `buildOptimizer` for production environment in `angular.json`. I guess it has something to do with uglify js? unfortunately the whole angular build process is still a bit a mystery to me though..  (it also increased my minified JS files by 8%, so it's not really the best solution..)

[2018-09-07 16:00] e4r commented on #78
That's right, if I build either without the flag `buildOptimizer` it works but it's not an option since the resulting files are way bigger for me (7MB vs 1.8MB).

I am regretfully using another library until an Angular wrapper/Typescript typings will be out ( check #24 )

[2018-09-08 10:39] junedchhipa commented on #35
I have provided an additional parameter in `options.xaxis.labels.formatter` as a timestamp which you can use to format dates as per your needs.

Example:
[code]
Note that here - tickAmount will respond to the value you provide.
Read more - https://apexcharts.com/docs/options/xaxis/#formatter

With this update, I have also provided localization options which you can set in `options.chart.cultures`

[2018-09-08 12:29] tommie opened #82 ""querySelectorAll of undefined" if initial series is empty list"
I'm trying to use the Vue.js wrapper with an HTTP request to fetch the data. I noticed I have to set `series` to the empty list, because the prop is defined as Array, so I can't pass `null` (due to a Vue.js type check) as a placeholder while loading.

So I set it to the empty list initially, but then `updateSeries` throws an exception of `Cannot read property 'querySelectorAll' of undefined` when

[2018-09-08 12:38] junedchhipa commented on #82
Hi @tommie
That's a valid use case of not having anything in the initial series.
Also in your example, I see `-Infinity` in the x-axis which doesn't look OK.

I am going to test more with the scenarios when updating from empty series.
Thanks for reporting, this will be taken care of.

[2018-09-08 13:14] junedchhipa commented on #82
Fixed in https://github.com/apexcharts/apexcharts.js/commit/6a853d9829ea05570c77ebd39cfbc466e3fa2540

[2018-09-08 13:14] #82 closed

[2018-09-08 14:50] #44 closed

[2018-09-08 14:51] junedchhipa commented on #38
Fixed this along with #44

[2018-09-08 14:51] #38 closed

[2018-09-08 14:53] junedchhipa commented on #44
@arkhenstone
Please try the latest release 1.4.9 - I have done major changes to the management of series. Tested a lot of use cases similar to what you have described.

[2018-09-08 14:56] junedchhipa commented on #74
This should also work properly now.
I have tested resizing after `updateSeries()`

If the issue persists, please provide me the exact series/options which you use to update

[2018-09-10 20:25] felixalguzman opened #83 "Percentage chart"
Is it posible to create a percentage chart ?

Something like this
![image](https://user-images.githubusercontent.com/17243615/45322361-0b66e200-b516-11e8-893f-3f0ac9103e4c.png)

[2018-09-10 21:19] junedchhipa commented on #83
There is not a chart-type which gives an out-of-the-box percentage chart, but it is very easy to tweak a "100% stacked bar chart" to create something like the image you provided.

Here is an [example](https://codepen.io/apexcharts/pen/ZMrvRK) which produces this result

![screen shot 2018-09-11 at 2 49 06 am](https://user-images.githubusercontent.com/17950663/45324981-4ba57f00-b56d-11e8-9fe0-9ffa2

[2018-09-11 19:14] felixalguzman commented on #83
Nice, this will work thanks!

[2018-09-11 19:14] #83 closed

[2018-09-11 23:16] CheyenneForbes opened #84 "Additional chart types"
Apexcharts.js would be the ultimate graph library if it had the following:

-  world map charts (location based chats)

-  relational charts (graph database visualization)

- timeline chart

[2018-09-12 08:57] rzds opened #85 "Tooltip isn't displayed when the first series is hidden"
I only tested this on a stacked area chart. I used 2 versions of apexcharts.js:
- one from the CDN
- one that I downloaded from https://apexcharts.com/downloads/apexcharts-bundle.zip

CDN: I've noticed that only when you hide the first series (Series A in the example below) the tooltip doesn't show anymore.
https://codepen.io/anon/pen/rZdgKv

Downloaded version: The tooltip shows but there is a pr

[2018-09-12 09:13] junedchhipa commented on #85
Thanks for reporting.
Yes, since 1.4.11 - I see that the tooltip doesn't behave correctly when series is shown/hide with the legend interaction.

I will also test with the custom `tooltip.x.formatter` function which you provided.

[2018-09-12 09:27] junedchhipa commented on #85
Fixed it.

But couldn't reproduce the issue for `tooltip.x.formatter` which you mentioned. I don't get `x = undefined` when I hide the first series.

Please create a codepen with that issue so I can see what data you are using if the issue still persists after this patch.

[2018-09-12 10:17] rzds commented on #85
Thanks for the fix.
I just checked and the version available for download (the one with the formatter bug) is 1.0.0. Way too old. Maybe someone could put a newer version on apexcharts site.

[2018-09-12 10:19] junedchhipa commented on #85
No worries.
I will upload the latest version for the ApexCharts website.

[2018-09-12 10:30] rzds commented on #85
Awesome.
Can you check it now with the latest version on cdn? Just go to "Sep 6" after you hide Serie A. You'll see there's no date displayed in that tooltip.
https://codepen.io/anon/pen/rZdgKv

[2018-09-12 10:53] rzds commented on #85
I did some more tests.
When I zoomed out this happens.
![a1](https://user-images.githubusercontent.com/1256878/45420443-d9c75580-b692-11e8-9bcf-c00754632cdf.png)

But when I move the mouse just a little...
![a2](https://user-images.githubusercontent.com/1256878/45420480-ecda2580-b692-11e8-8c5a-7788c3bd4da6.png)

Maybe this helps.

[2018-09-12 10:55] junedchhipa commented on #85
Indeed, it will help.
Thanks for providing extra details!

[2018-09-12 13:13] arkhenstone opened #86 "Mobile: Impossible to pan/zoom selection/selection"
Touching the screen only permits to see the points on the yaxis. Maybe not if tooltip's shared property is set to false, it's sometimes non sense to set shared to false.

Also, this is certainly related to the fact that it's not well supported yet, but when touching and moving to try to get the value expected, on iOS it unselect the point really easily. As such, there's no other choice than removi

[2018-09-12 13:49] junedchhipa commented on #9
Released v1.5.0 which includes candlestick charts.
https://apexcharts.com/javascript-chart-demos/candlestick-charts/

[2018-09-12 13:49] #9 closed

[2018-09-12 14:13] JCQuintas opened #87 "Bar chart xaxis/yaxis confusion"
When you use the "bar" chart, the xaxis and yaxis are inverted. And that causes a bit of confusion doesn't it?

Could we have it so xaxis controls the real xaxis and yaxis controls the real yaxis?

[2018-09-12 14:18] timhere opened #88 "Expose export filename as definable property on config object"
I'd like to be able to pass a variable into a config object which would be used as the filename prefix when downloading a chart svg image.

Currently, the filename is fixed to something like `apexcharts-12a3bcde.svg` by [this line in modules/Exports.js](https://github.com/apexcharts/apexcharts.js/blob/1252cc9e212f1caa2ba5ad3ef2eff6e1f5c29dd4/src/modules/Exports.js#L35):

[code]

[2018-09-12 14:26] junedchhipa commented on #88
An option named `options.chart.id` already exists.
So, instead of creating a new one, we can use that and I will have to just change that particular line to use `options.chart.id` instead of cuid.

[2018-09-12 14:32] #88 closed

[2018-09-12 14:39] JCQuintas opened #89 "Datetime axis doesn't respect "tickAmount""
Datetime axis doesn't respect any given "tickAmount"

Example:
https://codesandbox.io/s/w0rxpzwznw

[2018-09-12 14:47] junedchhipa commented on #89
Yes, as of now - the timescale ticks calculation is totally dependent on how many days/months is the gap and based on that - tickAmount is dynamically calculated discarding the option set by the user.

One way is to set the `options.xaxis.formatter` function and then it will take into account the tickAmount set by the user. One disadvantage when using this function is you get the same result wheth

[2018-09-12 14:56] junedchhipa commented on #87
You cannot imagine the amount of confusion I had while building the horizontal bar charts. I had to turn my head 90 degrees everytime I had to deal with x-axis/y-axis of bar-charts ;)

But the thing is, it is actually the correct way to deal with it as I have researched other charts as well before developing the configurations for it.

See Highcharts horizontal bar chart: https://www.highcharts.co

[2018-09-12 15:05] JCQuintas commented on #89
I see, is this documented somewhere? We could have a least a hint for that.

[2018-09-12 15:07] junedchhipa commented on #87
Yes, indeed. I will keep an eye on how it can be done in better ways.

[2018-09-12 15:15] junedchhipa commented on #89
Just added.
https://apexcharts.com/docs/options/xaxis/#tickAmount

[2018-09-12 15:20] #89 closed

[2018-09-12 15:59] junedchhipa commented on #84
Hi @CheyenneForbes, thanks for the suggestions.

- A map can another plugin itself, out of scope for current repo. Maybe in future - ApexMaps 😁
- Relational charts are interesting - but again, it will make the library heavy (already it is now)
- Timeline chart - this can be implemented, as I just need to implement a timescale for horizontal bar charts, and provide a start and end position for thos

[2018-09-12 20:10] junedchhipa commented on #88
Now, chart.id will be used as a filename.
Will be available in 1.5.2 release

[2018-09-13 02:07] CheyenneForbes commented on #84
Your points about making Apexcharts too heavy were a good.

Anyone looking for a relational graph library could try [cytoscape.js](https://github.com/cytoscape/cytoscape.js)

Could you add Timeline chart soon?

[2018-09-13 06:46] atoy40 opened #90 "zoomed event call problem"
Hello,

I'm using apexcharts 1.5.0 release and trying to play with the zoomed event.
It seems the event is only call when you use the selection zomming, but never when you use the zoom-in/zoom-out button

Anthony.

[2018-09-13 06:46] pnemi commented on #89
Is there any possibility how to achieve this behavior then, please? I just want 3 ticks (start date, middle date, end date).
![screen shot 2018-09-12 at 13 55 58](https://user-images.githubusercontent.com/5919903/45471487-80faca00-b731-11e8-887a-7b87b1b4b17f.png)

[2018-09-13 06:48] junedchhipa commented on #84
Hi,

Yes, I think - timeline charts are useful and I already thought about it before. Need to refactor the horizontal bar chart's code to support the timeline on the x-axis for it (at the same time not increasing the library size a lot).

FYI,
I am talking about these timeline charts as seen on Google charts
![screen shot 2018-09-13 at 12 16 40 pm](https://user-images.githubusercontent.com/1795066

[2018-09-13 06:57] #90 closed

[2018-09-13 06:58] junedchhipa commented on #90
@atoy40 Thanks for the catch, just added the event to zoomin/zoomout as well.
Will be available in v1.5.2

[2018-09-13 07:07] junedchhipa commented on #89
You may try setting the `xaxis.tickAmount: 4` along with `xaxis.labels.formatter` as suggested above.

[code]
You may not get the labels exactly on the places you described (start/middle/end) but it will be close to it.

[2018-09-13 07:19] richardpolzer opened #91 "Multiple Y Axes - Assign Series to specific Y Axis"
After studying the doc on [multiple y-axes](https://apexcharts.com/javascript-chart-demos/mixed-charts/multiple-yaxis/) I haven't found a way to directly link a series to a specified y-axis (for example through an axis Identifier).
Currently, the only option seems to be to create as many y-axes in the options as I have series. However, the number of series in my case depends on the user input.

[2018-09-13 07:49] junedchhipa commented on #35
Can we close this if I have not missed anything regarding localization?

[2018-09-13 08:47] pnemi opened #92 "Same series is passed to tooltip value formatter when shared tooltip is true in multiple-y-axis graph"
Hello,

when I hover over series data (multiple-y-axis), my `options.tooltip.y.formatter` callback gets data for just one series so I'm unable to reflect different formats to different y-axis.

[2018-09-13 09:06] timhere commented on #88
Many thanks for sorting this out so quickly, much appreciated.

[2018-09-13 09:32] junedchhipa commented on #92
I confirm this issue.
Just had a quick look at `tooltip.y` code and indeed it ignores multiple y-axis.
Will be fixed soon, thanks for reporting

[2018-09-13 10:17] arkhenstone commented on #91
Either the series doc is incomplete, or te feature doesn't exist. +1 on this one, I also generate many y-axis depending of the number of series. If using Vue, it also lead to issue https://github.com/apexcharts/vue-apexcharts/issues/7

[2018-09-13 10:18] junedchhipa commented on #91
Hi @richardpolzer
I agree that referencing the y-axis to a series using just an **array index** might not be the best solution as compared to referencing the y-axis to a series using a reference ID.

I would like to know what problems you are facing when creating multiple y-axis for multiple series.

Do you want to have less number of y-axis as compared to series? If yes, then I can provide an opt

[2018-09-13 10:30] junedchhipa commented on #91
@arkhenstone You mean the min and max of the y-axis should also be scaled correctly when zooming in/out? Or I failed to understand your point?

Here is a gif which shows that when zooming - all y-axis scales correctly.
![zooming-on-multiple-yaxis](https://user-images.githubusercontent.com/17950663/45483278-187e0e00-b76e-11e8-9ed4-cb11cce96453.gif)

[2018-09-13 10:32] pnemi opened #93 "Set max xaxis value is not showing"
Hello,

when I set `options.xaxis.max` to certain Date, it doesn't get rendered (although it's value is being sent to my xaxis labels formatter).

[2018-09-13 10:34] junedchhipa commented on #93
Can you provide a codepen example, please?

[2018-09-13 10:57] richardpolzer commented on #91
@junedchhipa as you can see in your gif the Team C line isn't correctly aligned with the Points axis. What @arkhenstone meant I believe is that if we disable the display if the axes we still would need to adjust min and max to every axis that's referring to the same type of data so we won't get incorrect readouts in the chart.
So the only possible way I suppose would be to iterate over the dataset

[2018-09-13 11:10] arkhenstone commented on #91
This :
![deepin-screen-recorder_select area_20180913130537](https://user-images.githubusercontent.com/17592744/45484859-e82a7580-b755-11e8-9472-6e0a552cab17.gif)

Winter and Summer refer to the same units (temperature) for example, and so, should be rendered on the same yaxis. If you ever do two axis and hide one, the yaxis will only be correct for the series it's binded to, but not for the other,

[2018-09-13 11:34] arkhenstone opened #94 "Feature Request : Values in legend"
With a lot of series, it sometimes become difficult to see values in tooltip. The best I could achieve with the tooltip was to CSS tooltip classes into block positionned below the chart. It works nice, but it's kind of hacky.
Here's how it renders :
![inconsistent_value_tooltip](https://user-images.githubusercontent.com/17592744/45485848-591f5c80-b759-11e8-89b7-09a029513fa8.gif)
As such, it almost

[2018-09-13 11:41] junedchhipa commented on #94
Another good suggestion!

I personally think the same way that in a multiple series chart - tooltip takes a lot of space and becomes a hindrance in viewing the chart correctly.
So, showing value directly in a legend is not a bad idea for those charts.

I will think about it, thanks.

[2018-09-13 11:43] junedchhipa commented on #94
And also, in case of legends, you will also not require the DateTime label as you already show DateTime in x-axis tooltip which is more elegant and easy on eyes

[2018-09-13 11:56] junedchhipa commented on #91
Ah! Cannot believe how I missed this!

I understood the issue now. Thinking of different ways how this can be solved.
Thanks for the details.

(And, `yaxis.show` doesn't exist right now, it was just a proposal for how it can be given as an option)

[2018-09-13 11:58] arkhenstone opened #95 "Datetime xaxis is one hour off"
![deepin-screen-recorder_select area_20180913134958](https://user-images.githubusercontent.com/17592744/45486723-64c05280-b75c-11e8-9277-33be2be80a23.gif)

As you can see, the first tick is off one hour in space. Zooming in would show that a tick hold the date of the day.
On the gif, the 01:00 tick is the date, and the 02:00 is 01:00 (then the off hour is on all next ticks).

I use this formatter

[2018-09-13 13:00] timhere opened #96 "Documentation for theme.palette string incorrect"
In the ["Themes" section of the documentation](https://apexcharts.com/docs/themes/) the following instructions are given:

[code]

I believe it should read `palette1` instead of `colorPalette1`.

The codepen examples specify the correct string value, however.

[2018-09-13 13:04] junedchhipa commented on #96
Thank you for the catch.
Fixed!

[2018-09-13 13:32] #96 closed

[2018-09-13 13:51] junedchhipa commented on #94
Just a thought.
I have already tweaked something similar to it by `tooltip.fixed` option and making some CSS adjustments on this page https://apexcharts.com/features/ (performance chart).

The reason I am re-thinking about providing values in the legend is the Legend is drawn by SVG elements and difficult to re-draw the positions/width once it is drawn. While the tooltip is HTML, and very flexible

[2018-09-13 14:48] vystepanenko opened #97 "[Vue-ApexCharts] Strange behavior of animation in bar chart"
Hello!
i'm using:
- "vue": "^2.5.17",
- "vue-apexcharts": "^1.1.1",

And I have strange behavior of animation in bar chart  on initial load if series: [ { data: [] } ]  is empty.
At the moment when I initial chart object I do not have data for series and categories
[code]
Then I make request to backend and fill series data and categories

[code]
And on first time animations seems doesn't work and

[2018-09-13 14:53] junedchhipa commented on #97
Thank you for reporting.
Can you specify which version of apexcharts (the core apexcharts lib) you are using?

[2018-09-13 15:02] junedchhipa commented on #97
You're right.
I tested with bar chart and it seems animation is not running - the chart displays instantly.

Thanks for reporting, I will look into it

[2018-09-13 15:07] vystepanenko commented on #97
thanks in advance

PS.  I'm using core apexchart 1.4.12 at this moment

[2018-09-13 15:51] Carniatto opened #98 "Multiple Y axis cause the axis to crop"
When using multiple Y axis the positioning of the left axis is wrong resulting in copping of the title

![screen shot 2018-09-13 at 17 50 24](https://user-images.githubusercontent.com/1366831/45499941-b2998280-b77d-11e8-8995-54f6b77859f5.png)

[2018-09-13 16:02] junedchhipa commented on #98
No, that space shouldn't exist.
Some other users have also reported the same issue when using multiple y-axis - and it's on my roadmap.

[2018-09-13 16:26] jimfilippou opened #99 "Yaxis repetition of labels"
Yaxis labels repeat themselves to fill space, why?

![sketch](https://user-images.githubusercontent.com/6877046/45501327-8257e100-b789-11e8-8e9f-155fe5c6c63e.png)

[2018-09-13 16:37] junedchhipa commented on #99
Look for `options.yaxis.tickAmount` option.
You will be able to control the number of ticks generated on y-axis.
 Try `tickAmount: 2`

If you have smaller values and want more ticks - you can format the `yaxis.labels.formatter` to something like below
[code]

The ticks generated will be 0, 0.5, 1.0, 1.5, 2, 2.5 and so on.

[2018-09-14 00:18] danmarshall opened #100 "Docs: some demos are broken"
Hello, just wanted to point out that these 2 pages in the docs aren't currently working:
* https://apexcharts.com/docs/responsive/
* https://apexcharts.com/docs/animations/

The console says `Uncaught ReferenceError: ApexCharts is not defined`.
Also, `Notice: Bellows initialized via window.load.  This indicates that an unrelated error on the site prevented it from loading via the normal document r

[2018-09-14 05:23] #100 closed, assigned to nobody

[2018-09-14 08:03] Carniatto commented on #98
@junedchhipa if you point me in the right direction I can help fix this and open a PR

[2018-09-14 08:49] silverphoenix1110 opened #101 "Missing the first element of the x-axis"
I have an issue same as this example: https://apexcharts.com/javascript-chart-demos/column-charts/column-with-negative-values/

The first element of the x-axis ("2011-01-01") was disappeared when I use xaxis.labels.rotates = -90

[2018-09-14 09:16] vystepanenko opened #102 "[Vue-ApexCharts] Toolbar doesn't work properly with xaxis.categories"
Hi!
Component:
"vue": "^2.5.17",
"vue-apexcharts": "^1.1.1",
"apexcharts": "^1.5.1",

[code]
In this case I have only download button. Even if specify tools options like this
`tools: {  download: true, selection: true, zoom: true, zoomin: true, zoomout: true, pan: true, reset: true },`

![image](https://user-images.githubusercontent.com/22811452/45541077-b88f7200-b816-11e8-93b3-59d8d8c8219e.png)

[2018-09-14 09:26] junedchhipa commented on #101
Noted.
There is a function which calculates if labels exceed available grid area so that it can draw without overlapping. And I think that function is returning false positives sometimes for rotated labels.
I will fix that

[2018-09-14 11:08] junedchhipa commented on #98
@Carniatto This is fixed in https://github.com/apexcharts/apexcharts.js/commit/8817230d8c94006188e9ee7025ffffe5e1b7d947
Not merged into master yet, because other related y-axis issues are being processed.

The code for this is located in `src/modules/axes/Yaxis.js` & `src/modules/Dimensions.js`
Thanks for offering help

[2018-09-14 11:10] junedchhipa commented on #102
Thread continued on https://github.com/apexcharts/vue-apexcharts/issues/9

[2018-09-14 12:14] pnemi commented on #93
Here's a slightly modified version of codepen you sent me earlier.
https://codepen.io/anon/pen/EepyEO

[These stocks data](https://apexcharts.com/samples/assets/stock-prices.js) are from 13 Nov 2017 to 8 Dec. I desperately need to display first and end (min and max) xaxis datetime value. I see no 08 Dec on xaxis and when I set `xaxis.xmax` to `new Date("06 Dec 2017").getTime()` that time is not be

[2018-09-14 13:03] vystepanenko commented on #97
Same problem with donut chart

[2018-09-14 13:09] junedchhipa commented on #97
Ok, thanks for the info
I will look into it

[2018-09-14 13:58] jimfilippou commented on #99
Thanks!

[2018-09-14 13:58] #99 closed

[2018-09-14 22:24] arkhenstone opened #103 "Miscellaneous issues on apexcharts site"
I'll try to point out multiple things I've seen on the site :

- [x] Docs in gradient shows a property `shadePercent` while the gradient radialBar demo uses `shadeIntensity`.

- [x] [This page](https://apexcharts.com/javascript-chart-demos/radialbar-charts/) has two misspelled Gauge. Also, you can't access the gradient radialBar (which is sexy !). On that exact same radialBar demo, the hover makes

[2018-09-15 06:47] junedchhipa commented on #103
Thank you for pointing out the errors, much appreciated.

I will take care of the typo errors you listed in the first two points.
The 3rd one - I will create a more visible page for `locales`

Coming to the 4th point - I agree, there aren't many examples which demonstrates and covers all use cases for vue.js (apart from this doc https://apexcharts.com/docs/vue-charts/). If you want to create demos

[2018-09-15 08:59] atoy40 opened #104 "Feature : per-serie options"
Hello,

Is it possible to set per-serie options, for example different stroke width, fill type, etc... ? The only one I've seen is the color through the "colors" array

Anthony.

[2018-09-15 09:17] junedchhipa commented on #104
Hi @atoy40

Good question and I have thought about this while creating configurations.

The reason I have not provided design config in the `series` is that I wanted to the keep `data` independent from all other configuration.

But, some options accepts an array which corresponds to the series index.

Some of those properties
`[stroke.width](https://apexcharts.com/docs/options/stroke/#width)`
`[ma

[2018-09-15 12:17] atoy40 commented on #104
Thanks !
I've another question about series, have you thought about having a 2nd Y axis on the right to display series which are not on the same "scale" ?

[2018-09-15 15:01] junedchhipa commented on #104
Yes, have you checked out this?
https://apexcharts.com/javascript-chart-demos/mixed-charts/line-column/
The two series are not on the same scale in the example

[2018-09-15 15:04] atoy40 commented on #104
Oh yes, not enough doc reading :) sorry !!

[2018-09-15 15:39] junedchhipa commented on #104
No worries

[2018-09-15 16:31] melrefaie opened #105 "Chart download no background"
1. Downloaded svg don't have background option
Please see this example: https://codepen.io/anon/pen/LJJYra

2. How to control toolbar icons colors ?

[2018-09-15 16:37] junedchhipa commented on #105
1. Yes, you're right. The background color doesn't appear in the exported SVG. I will look into it.

2. To control toolbar icons colors, you will have to do it in CSS like below
[code]

[2018-09-15 18:30] #105 closed

[2018-09-15 19:30] junedchhipa commented on #93
I think - you want something like this, right?
![screen shot 2018-09-16 at 12 56 16 am](https://user-images.githubusercontent.com/17950663/45589887-613eee00-b94b-11e8-9677-cd6a6ea976b0.png)

You will have to turn off the automatic timescale generation and use the custom `xaxis.labels.formatter` function along with setting the `xaxis.tickAmount` property.

For eg., I used moment.js to format dates

[2018-09-15 19:35] #93 closed

[2018-09-15 19:36] junedchhipa commented on #93
Please use the latest version apescharts@1.5.2 for it to work correctly as I have made some changes related to this.

[2018-09-15 19:37] junedchhipa commented on #101
Fixed it in the https://github.com/apexcharts/apexcharts.js/commit/4c658eb848321159378ecac06c5830f0b6311159

[2018-09-15 19:37] #101 closed

[2018-09-16 16:46] arkhenstone opened #106 "Sparklines bar type chart's tooltip misplaced"
Tooltips just don't care of their surrounding, always sticking to their default positions with sparkllines bar. The fixed property don't work at all. Works just as intended with line.

See image below. Even the further at left display the tooltip at the left.

![bug](https://user-images.githubusercontent.com/17592744/45598732-fcce6e00-b9e0-11e8-922d-a6140d8f91ad.png)

[2018-09-16 19:31] junedchhipa commented on #91
FIxed this in v1.5.3

A new option in
[code]

Also, updated the example https://apexcharts.com/javascript-chart-demos/mixed-charts/multiple-yaxis/ to demonstrate a live demo.

Let me know if this works.

@arkhenstone I haven't tested your issue https://github.com/apexcharts/vue-apexcharts/issues/7 with this update yet.

[2018-09-17 05:40] pnemi commented on #93
Works perfectly how I wanted to. Thank you so much for it.

[2018-09-17 05:59] pnemi commented on #92
Unfortunately it didn't fix the problem for me. Imagine I have multiple y axis graph so when a **shared** tooltip is being shown I want to add a unit to my values so I need this callback to be called multiple times for each value (y axis) with either series name or index in order to properly identify what kind of value it is.

[2018-09-17 06:01] junedchhipa commented on #92
Sorry, I didn't updated the docs for it
Actually, you need to pass an array to `tooltip.y` property, I'll show a demo

[2018-09-17 06:31] pnemi commented on #92
Where did you put the demo, please?

[2018-09-17 06:45] junedchhipa commented on #92
[Demo](https://codepen.io/apexcharts/pen/OoodKG)

Updated the docs too

[2018-09-17 08:08] pnemi commented on #92
Man. Thank you very much. Works perfectly.

[2018-09-17 10:49] rudeayelo opened #107 "Problems with stacked columns in `datetime` chart"
In a `datetime` type chart, stacked columns have a weird behaviour, with one column columns seem ok (although a bit missplaced to the left):
![image](https://user-images.githubusercontent.com/140042/45618835-6dc06500-ba77-11e8-95ea-49bead8c5aa7.png)

But when adding more series to the stack, columns start getting thinner:
![image](https://user-images.githubusercontent.com/140042/45618876-934d6e80-

[2018-09-17 10:52] junedchhipa commented on #107
Thanks for reporting, this should not happen.

I will take a look

[2018-09-17 13:19] Carniatto opened #108 "yaxis.labels.formatter is not applied anymore to tooltip after 1.5.3"
After the update that was supposed to fix the formatter for multiple Y axis the formatter is not applied anymore to tooltip.

![screen shot 2018-09-17 at 15 18 44](https://user-images.githubusercontent.com/1366831/45625418-11684000-ba8d-11e8-855c-56fcb8184adb.png)

[2018-09-17 13:30] KristerV commented on #84
oh wow what a deal breaker. Well, I mean this chart is amazing without it, so sad I can't use it :D

[2018-09-17 15:15] Carniatto commented on #98
@junedchhipa This is still happening in ver 1.5.3

[2018-09-17 15:51] atoy40 opened #109 "Disabling zoom in/out animation"
Hello,
When you use zoom in/out button from the toolbar, it animate the graph accordingly by defining a new xaxis range. But when you load data dynamically into the zoom event handler, it's sometimes weird. For example, when you have a time data serie which only have value "before now", it's strange to have a centered zoom out (so empty graph before and after the inatial range), then another redra

[2018-09-17 16:10] atoy40 commented on #109
Another idea can be to have a beforeZoom event when you use toolbar buttons, which allow the user to return  new axis range(s), so you can constraint the xaxis max value for example.

[2018-09-17 18:50] junedchhipa commented on #98
Can you please show me your example code for which this is happening?
Maybe I have missed some config - here it works correctly
https://apexcharts.com/javascript-chart-demos/mixed-charts/multiple-yaxis/

[2018-09-17 18:55] junedchhipa commented on #109
I'm sorry - but it would be difficult for me to visualize the issue without reproducing it.
Can you please create a codepen demo for it?

If you want to disable runtime animations (update after the initial render), you can set `animations. dynamicAnimation.enabled: false` which will prevent all data update animations (including legend on/off series)

[2018-09-18 05:47] junedchhipa commented on #84
@KristerV which one you're talking about? The timeline chart?

[2018-09-18 05:59] KristerV commented on #84
yes. specifically I need horizontal ones like this: https://zoomcharts.com/en/chart-types-demo/multiple-level-span-chart-with-categorical-data-using-facetchart
Compared to that Google Chart or Gantt charts I need overlapping blocks.

[2018-09-18 06:44] junedchhipa commented on #84
The example which you gave of zoomcharts is more of a range column chart
![screen shot 2018-09-18 at 12 12 05 pm](https://user-images.githubusercontent.com/17950663/45668945-17692a00-bb3c-11e8-8264-beb2d3e2a5a9.png)

This can be implemented easily ApexCharts contains candlestick chart already https://apexcharts.com/javascript-chart-demos/candlestick-charts/basic/ and the calculation of range is no

[2018-09-18 11:13] atoy40 commented on #109
I've tried to create a codepen.
There is a function which simulate a call to a server to get temperture data.
At startup, last 30 days are requested and then the graph is drawn.
If you zoom out, by default apex extend the xaxis range on both side, but as "futur" temperatures doesn't have any sense in this example, data return by the "server" start at xaxis new min to "now". So the range is changed

[2018-09-18 11:17] atoy40 commented on #109
the code pen : https://codepen.io/atoy40/pen/RYexmo

[2018-09-18 12:04] tforssander opened #110 "x-axis is displayed as local datetime instead of UTC"
(This may or may not be related to #95)

First of all, I assume that I've miss-configured something, but my X-axis appears to always be shown as local time instead of UTC. I tried using both timestamp (1536104489000) and datetime (2018-09-04 23:41:29) as x-axis data.

The first entry in the raw data is 1536104489000 (2018-09-04T23:41:29) but when viewed it shows up as 2018-09-05 01:41:29. I am in

[2018-09-18 13:00] junedchhipa commented on #109
I saw your example, and I think I understood what you're trying to do.
You are trying to load new data based on how much amount the user has zoomed in. You have a valid idea of showing less number of data points for larger scales and as user scales in, you bring in new data.

So, you're calling `updateSeries()` function in the zoomed callback event.

I suggest you call the `updateOptions()` functi

[2018-09-18 13:08] atoy40 commented on #109
I agree it's far better with updateOptions as it preserve the range.
But the real "issue" from me is I'd like to never see "futur" when I zoom out. I'd like to lock the xaxis max to a fixed value .... "now" in my case.

[2018-09-18 13:40] junedchhipa commented on #110
Hi @tforssander

Yes, I need to look into the datetime offset issues as many users are reporting it.
It is a possibility that while manipulating datetime, I might have accidentally used local time instead of UTC.

Needs digging further, thanks for reporting the issue. And glad you loved it :)

[2018-09-18 13:43] junedchhipa commented on #109
Ok, then I think - a `beforeZoom` event is essential so you can check the current min/max and prevent zoom if you want to.
I will add that in later versions.

[2018-09-18 13:54] tforssander commented on #110
@junedchhipa Great, thank you for the quick reply.

[2018-09-18 14:08] tforssander opened #111 "Possibility to set specific series as unselected in legend container"
Hi again,

I've encountered a scenario where I would like to specify specific series as unselected in the legend container. I've tried looking at the documentation and can't seem to find anything related to that, except that it is only possible to hide the legend container.

Thanks!

[2018-09-18 14:13] junedchhipa commented on #111
You mean, if you have a multiple series chart, you want to initialize the chart by having certain series "deselected" like this?

![screen shot 2018-09-18 at 7 42 16 pm](https://user-images.githubusercontent.com/17950663/45693548-f96eea00-bb7a-11e8-8567-5d7ff7f35703.png)

Or you want that series not to show in the legend at all?

[2018-09-18 14:16] tforssander commented on #111
Exactly, I would like to have certain series "deselected" when initialised but keep the series in the legend container, so the user can "select" it again. :)

[2018-09-18 14:26] junedchhipa commented on #111
Well, currently ApexCharts doesn't have this option directly, but you can try a `hacky` solution.

[code]

Will think of adding an option in config in future releases.

[2018-09-18 16:32] #109 closed

[2018-09-18 16:38] junedchhipa commented on #109
`beforeZoom` event added which will allow you to check min/max.
It should return true to allow the zoom event to occur.

Docs: https://apexcharts.com/docs/options/chart/events/#beforeZoom

Will be available in 1.5.5

[2018-09-18 17:28] atoy40 commented on #109
But the problem with this form of beforeZoom function (returning a bool) is you disable the zoom. But in my temperature example, I don't want to disable the zoom, i want to have the zoom extend the range in the past, for example from [now-30day, now] to [now-60days, now] (instead of [now-45days, now+15days]). So imho, the beforeZoom event must allow to alter the proposed ranges.

[2018-09-18 17:59] junedchhipa commented on #109
I thought you want to avoid zoomout by checking the “next” range.

Ok, no problem. I will remove the boolean condition.

So, you want to set a custom range in “beforeZoom” before zoom happens.
I think, “beforeZoom” should return { xaxis, yaxis } which should be used for the next zoom event.

Correct me if I am wrong

[2018-09-18 19:32] atoy40 commented on #109
It looks good, but may be there is a simple way to handle the problem.
it's to have a paramters in xaxis (and yaxis)in addition to min/max (which are use to define the visible range) to define the maximun allowed range, so you can use it, if define, to compute a valid range at zoom requests. something like that in options :

[code]

where you can define both, or only one (the extendedMax in my tem

[2018-09-18 19:44] junedchhipa commented on #109
Changed the `beforeZoom` expected return to be a new Range instead of boolean value in this commit https://github.com/apexcharts/apexcharts.js/commit/89e1f55999c4f06b7a976c408603b73ebca684c7.

I have updated the docs on this page with an example
https://apexcharts.com/docs/options/chart/events/#beforeZoom

So now, you will be able to control the "next" zoom range before the actual zoom happens. If

[2018-09-18 20:29] junedchhipa commented on #107
Fixed it
Demo: https://apexcharts.com/javascript-chart-demos/column-charts/stacked/

[2018-09-19 07:47] rudeayelo commented on #107
Well that was fast 😄

[2018-09-19 09:18] pribilinskiy opened #112 "Incorrect strokeDashArray property in docs"
In a [doc page](https://apexcharts.com/docs/options/stroke/) there's a `strokeDashArray` described which doesn't exist (or it was replaced).
Instead it should be `dashArray: Number || Array (array valid only for line/area charts)`

[2018-09-19 09:21] pribilinskiy opened #113 "Tooltip formatter in a Doc example"
At [this doc page](https://apexcharts.com/javascript-chart-demos/line-charts/dashed/) that code is not functioning:
[code]

[2018-09-19 09:27] pribilinskiy opened #114 "Max value for yaxis leads to memory leak and browser crash"
Change `yaxis.max` value to `10` in this example: https://codepen.io/anon/pen/oPJbvM

[2018-09-19 09:31] pribilinskiy opened #115 "Too many items in legend leads to broken layout"
When `legend.position` is set to `right` and there are many items/categories provided the layout is broken

![image](https://user-images.githubusercontent.com/3078595/45744653-bc9d0480-bc07-11e8-8875-c166add7766f.png)

If there's no way to make a scrollable list in **SVG** then legend should be drawn via **HTML**

[2018-09-19 09:52] junedchhipa commented on #115
Have you tried to make the legends smaller using legend formatter function?

[code]

Another option is - for smaller screen sizes, you can put the legends below chart using [responsive](https://apexcharts.com/docs/responsive/) config.

I thought about drawing legend with HTML, but it will require a major code rewrite.

[2018-09-19 09:59] junedchhipa commented on #112
Thanks for the catch.
Fixed it

[2018-09-19 09:59] #112 closed

[2018-09-19 10:14] junedchhipa commented on #114
Fixed in https://github.com/apexcharts/apexcharts.js/commit/35b43e76441a0ebb28a4a35942bfe85f6b87a9c0

[2018-09-19 10:14] #114 closed

[2018-09-19 10:33] #113 closed

[2018-09-19 10:37] junedchhipa commented on #113
Fixed the code - the website page will also be updated soon

[2018-09-19 11:02] pnemi opened #116 "Do not hide xaxis when all series are hidden"
Hello,

xaxis becomes hidden when I toggle all series off as demonstrated [here](https://apexcharts.com/javascript-chart-demos/line-charts/null-values/) but I have some series that have just null values and xaxis gets displayed again only if I re-enable at least one series with not-all-null data which might be confusing for user so I want to have xaxis (ticks) displayed at all times. How to do tha

[2018-09-19 11:16] pribilinskiy commented on #115
@junedchhipa truncating is not an option here and having a hundred of items will span the legend to even more columns eventuall hidden when not fit into chart's container

And there's also another bug that is related to this chart is when `xaxis.type` is `datetime` then only the hovered point's data is shown
![image](https://user-images.githubusercontent.com/3078595/45750064-5ec3e900-bc16-11e8-954

[2018-09-19 11:20] pribilinskiy commented on #115
Looks like I'll have to do the custom filtering UI completely on my own :) like depicted on this mockup

![image](https://user-images.githubusercontent.com/3078595/45750279-11944700-bc17-11e8-822f-e16da5132289.png)

[2018-09-19 11:21] pribilinskiy opened #117 "Incomplete legend when xaxis.type is datetime"
When `xaxis.type` is `datetime` then only the hovered point's data is shown

![image](https://user-images.githubusercontent.com/3078595/45750064-5ec3e900-bc16-11e8-9549-e430d94b8828.png)

[2018-09-19 11:26] junedchhipa commented on #116
Ok, I have fixed this in https://github.com/apexcharts/apexcharts.js/commit/1a4954cc7ffc5b84fc1b0bb3c860e8aa0b99a04a

The x-axis will be visible even when all series are collapsed in the next version

[2018-09-19 11:26] #116 closed

[2018-09-19 11:30] junedchhipa commented on #115
@pribilinskiy Yeah, I think - you have a pretty interesting use case of so many series to show in 1 chart.

Regarding the bug which you noticed (hovered data point), can you please create a codepen example for me to reproduce quickly?

Thanks

[2018-09-19 11:41] pribilinskiy commented on #117
Example https://codepen.io/anon/pen/bxOExB

[2018-09-19 11:41] pribilinskiy commented on #115
Added as separate issue https://github.com/apexcharts/apexcharts.js/issues/115

[2018-09-19 11:44] #115 closed

[2018-09-19 11:46] junedchhipa commented on #117
You have to turn on `shared` tooltip property to show all the series's data.

[code]

[2018-09-19 11:57] tcarlsen commented on #76
any progress on this one? did you hear from the svg.js team?

[2018-09-19 12:08] pnemi commented on #116
Thanks. By the way, you don't build dist js files? Right now you fixed it but I see dist not updated.

[2018-09-19 12:12] junedchhipa commented on #116
I update the dist only when I release a new version.
You should expect the next patch version in a couple of hours :)

[2018-09-19 12:17] #35 closed

[2018-09-19 12:18] rzds opened #118 "Stacked Area Chart - chart is shown incorrectly when some series are hidden"
I don't know how to describe this but the problem is pretty clear in this codepen example.
The problem appears when the A or B series are hidden. It works fine with the C series.

https://codepen.io/anon/pen/GXPrgQ

[2018-09-19 12:19] pnemi opened #119 "Tooltip not being displayed correctly in multiple y-axis"
Take a look at this behavior.

If I load my data to this graph, hovering over it displays tooltip without problems.
https://codepen.io/anon/pen/EepyEO

However, if I turn on multiple y-axis (options.yaxis is Array) it has problems (it's only displayed when I hover on top and bottom area).
https://codepen.io/anon/pen/pOqRdo?editors=0010

Thanks for examining it.

[2018-09-19 12:44] junedchhipa commented on #119
I can see that when there are missing/null values in the series, the sticky tooltip doesn't produce a buggy behavior
For such scenarios (when you have a lot of null values in multiple series), I suggest

[code]

where the tooltip only appears when you directly hover over the dataPoints.

[2018-09-19 14:36] pribilinskiy commented on #117
@junedchhipa also `tooltip.x.title.formatter` is seems to be ignored. Updated example

[2018-09-19 15:16] junedchhipa commented on #117
The shared tooltip will only work correctly when all series has same "x" values. (I updated the docs stating it recently - https://apexcharts.com/docs/options/tooltip/#shared)

In your example, you have a missing "x" value in the first series.

To make the shared tooltip work correctly, you can pass a `y: null` value for a dataPoint where you don't have any data for that datetime. I have updated y

[2018-09-20 05:41] pnemi commented on #119
Plus it produces another weird bug. If I hover somewhere in that red area it shows just xaxis tooltip text in that blue circle (without tooltip) even tho there are no data for SEP 14, not to mention SEP 14 text appears right where SEP 18 should be...

<img width="678" alt="screen shot 2018-09-20 at 07 32 49" src="https://user-images.githubusercontent.com/5919903/45798021-84013780-bca8-11e8-8597-c9

[2018-09-20 05:59] pnemi commented on #119
Plus your suggestion is not feasible in my case because if set markers' size to 0, then there's absolutely no way to display tooltip because hovering is bind on them (and I will not set markers' color to transparent, that's not a solution I want to rely on). Please take a look at it :-)

[2018-09-20 06:02] pribilinskiy commented on #117
@junedchhipa Great!
This issue can be closed then

[2018-09-20 06:04] #117 closed

[2018-09-20 06:09] pnemi commented on #119
Another super weird thing related.
Look, Water series values are null, all of them.
When I disable Water series and hover over legend text of another series it shows blue (=Water) dots and if I go and hover over those - tooltip appears with undefined as a value.

<img width="670" alt="screen shot 2018-09-20 at 08 04 02" src="https://user-images.githubusercontent.com/5919903/45798908-e9a2f300-bcab-

[2018-09-20 06:12] pnemi commented on #119
Ad. Same things happens with anything.
1. Disabling series X
2. Hovering over legend text of any other shows dots at the same weird place with color of series X
3. Hovering over those points shows tooltip of series X value of undefined...

[2018-09-20 06:25] steven-pribilinskiy opened #120 "Series with null values appear in the tooltip"
![image](https://user-images.githubusercontent.com/3078595/45799493-6b981980-bcb6-11e8-9e64-dc64c88e78a9.png)

When an item has a `null` value it still appears in the tooltip.
At least this should be an option to show/hide items with null values in the tooltip.

Another bug is when you hide (toggle) e.g. `obb.docker` then you can't even hover over a point - the crosshair doesn't follow the mouse c

[2018-09-20 06:49] pribilinskiy opened #121 "Missing option to hide tooltip title"
Just found out that there's no way to hide tooltip title in options, only through css

[code]

[2018-09-20 09:45] pnemi opened #122 "Performance issues in Microsoft EDGE"
Hey,

Apexcharts runs noticeably slower on MS EDGE (tested on version 42), especially hovering over graph and displaying tooltip.

[2018-09-20 10:27] #95 closed

[2018-09-20 10:31] junedchhipa commented on #121
[code]

[2018-09-20 10:35] #121 closed

[2018-09-20 11:28] junedchhipa commented on #76
Hi @tcarlsen

Sorry for the late response.

I tried to create a codepen or codeSandbox demo before creating an issue on svg.js repo but failed to do so - https://codesandbox.io/s/z2k27n9p9m

It's just a demo of the SVG element using custom-element. We are keeping apexcharts out of the question as the issue seems to be just with SVG.

So, can you try creating a live demo of what you're trying? If j

[2018-09-20 11:30] junedchhipa commented on #110
Fixed it. You will see the correct "hours" in the next patch release of ApexCharts

[2018-09-20 11:32] junedchhipa commented on #110
By the way, I checked the code - It is not converting UTC dates to local date anywhere.
ApexCharts deals everything in UTC

[2018-09-20 13:01] pribilinskiy commented on #121
@junedchhipa probably it makes sense to update documentation for this option, as it's misleading
![image](https://user-images.githubusercontent.com/3078595/45819974-65be2a80-bcee-11e8-8c32-9ed2f6c70746.png)

[2018-09-20 13:44] junedchhipa commented on #121
![screen shot 2018-09-20 at 7 14 14 pm](https://user-images.githubusercontent.com/17950663/45822565-61533b00-bd09-11e8-8ee2-629da7933505.png)

Better? 😁

[2018-09-20 15:47] #91 closed

[2018-09-20 17:52] junedchhipa commented on #119
@pnemi Looks, like a lot of stuff is breaking in `null` values in multiple y-axis charts.
This will be definitely looked into, thanks for the details.

[2018-09-21 10:50] tcarlsen commented on #76
It seems to be this line alone because of the chart ain't part of the document but part of shadowRoot.
removing the line with gulp could be a way I think.

Another issue I just came across is that the style element is appended to document as well. so the chart inside the custom element ain't affected by this. Is there a way to tell Apexcharts where to append the style element? (this question may n

[2018-09-21 12:34] bivald commented on #110
Hi,

This solves the issue for GMT+1, but not for those of us on GMT+2 (or any other timezone, really). I've made a suggestion for a solution on https://github.com/apexcharts/apexcharts.js/commit/661647c0f899c2f09e7aa9ee765fba8b06dddb13

[2018-09-22 07:09] #118 closed

[2018-09-23 11:41] arkhenstone commented on #94
Yes I know that the fact legends are SVGs makes it difficult to manage, since it would overflow the SVG easily, and would lead to tons of bug.  Better turns the legends HTML in this case. But as long the tooltip is easily hackable, it's not that much a priority.

[2018-09-23 23:45] GalacticSun opened #123 "chart.updateSeries() doesn't update X Axis."
I load in new data but the X axis values (the vertical values representing, in my case, price data values) don't update according to the new data.  Am I doing something wrong?  Thanks.

[2018-09-24 05:04] junedchhipa commented on #123
Did you found the solution? Or you misconfigured something?

[2018-09-24 05:31] pnemi commented on #119
Did you manage to find problem? Could you estimate how much time you'll need to fix that? :)

[2018-09-24 06:13] pribilinskiy opened #124 "Customize Toolbar"
I need to remove the Selection tool from the toolbar

Options to show/hide particular tools in toolbar are needed to avoid hiding those with CSS.

[2018-09-24 06:18] pribilinskiy opened #125 "Cropped x-axis labels when legend is on the right"
When legend position is `right` the x-axis labels on the bottom are cropped

https://codepen.io/anon/pen/gdJYZb

[2018-09-24 06:44] pribilinskiy opened #126 "Chart minimap"
A very useful feature of charts is a small version of it for an overview of all data

Example:
![image](https://user-images.githubusercontent.com/3078595/45939591-4ec45480-bfdc-11e8-8889-a2d55eb55df2.png)

While [there's a way to sync apex charts](https://apexcharts.com/javascript-chart-demos/line-charts/syncing-charts/) it's very cumbersome to replicate such a feature (one would need to hide labe

[2018-09-24 11:44] mestaritonttu opened #127 "Accept item index as an argument for formatter function"
Currently [the formatter function](https://apexcharts.com/docs/options/xaxis/#formatter) takes value and timestamp. In Chartist, there is a [labelInterpolationFnc](https://gionkunz.github.io/chartist-js/examples.html#bi-polar-bar-interpolated) that takes value and index. This allows showing only certain label items like so:
`return index % 2 === 0 ? value : null;`
This is useful for getting stuff

[2018-09-24 13:01] bivald commented on #110
Forgot to ping @junedchhipa :) should I try to do a PR?

[2018-09-24 14:15] Calinou opened #128 "Add official localization templates"
[ApexCharts already supports localization](https://apexcharts.com/docs/options/chart/locales/), but as far as I know, no template files are provided.

It could be useful to add localization templates that could be imported when desired, similar to projects like [date-fns](https://github.com/date-fns/date-fns).

For example, here's one I wrote for French (feel free to use it if you wish):

[code]

[2018-09-24 18:57] Atiladanvi opened #129 "I have error to load apexcharts. After npm install. what hapens ?"
[code]

- I just npm install
- Before npm install it's run
Composer.lock
[code]

[2018-09-24 19:46] junedchhipa commented on #129
Please paste your code where you are trying to import ApexCharts / Vue-ApexCharts

[2018-09-24 20:11] Atiladanvi commented on #129
~~import apex from 'vue-apexchart' ;
vue.use (apex).

Just its line.
~~

[2018-09-25 05:02] junedchhipa commented on #129
Please follow this guide https://apexcharts.com/docs/vue-charts/ step by step
Or create a codesandbox demo of what you’re trying to do

[2018-09-25 05:05] junedchhipa commented on #128
Good suggestion. I will add an option to import localization templates.

[2018-09-25 06:13] junedchhipa commented on #125
Can you provide a better example?
Can’t see in your demo

[2018-09-25 09:04] pribilinskiy commented on #125
![image](https://user-images.githubusercontent.com/3078595/46004248-13e51e00-c0bb-11e8-9292-847afb894f91.png)

[2018-09-25 09:20] jimfilippou opened #130 "Cut out points on edges"
Is there a way to fix this?

![sketch](https://user-images.githubusercontent.com/6877046/46005193-658ea800-c0bd-11e8-96fd-e0a486f2a550.png)

[2018-09-25 09:29] jimfilippou commented on #130
Unfortunately, the padding happens from outside and this doesn't fix the problem. Another obvious solution would be to add -1 and 6 to the y-axis but this solution is way too hacky because i want the charts to start from 0

[2018-09-25 11:07] pribilinskiy commented on #124
Thanks, @junedchhipa, still not completely learned the API )

[2018-09-25 11:11] Atiladanvi commented on #129
I just remove cache npm and run:
  `npm install --save vue-apexcharts apexcharts`
I remember before npm update only  vue-apexcharts running

[2018-09-25 11:12] #129 closed

[2018-09-25 13:16] harconst opened #131 "Memory leak in realtime chart"
## Codepen

Using chrome, open the task manager and inspect the browser tab containing a realtime chart like [this codepen](https://codepen.io/harconst/pen/OoexXr) . You will notice that the memory footprint for the tab goes up by the second (sometimes 3MB/sec). Can also be seen in the realtime demo page.

## Explanation

- What is the behavior you expect?

I expected the memory footprint to be al

[2018-09-25 14:37] #124 closed

[2018-09-25 14:39] junedchhipa commented on #125
Thanks, I was not seeing this on chrome (mac). I will check in other browsers.

[2018-09-26 09:31] pnemi commented on #119
Sorry if I'm a bit annoying, it's just that our project really depends on Apexcharts, so if there's any update (or won't be anytime soon), please let me know :)

[2018-09-26 11:30] junedchhipa commented on #127
No problem, I can provide the third argument with extra details (seriesIndex / dataPointIndex, etc)

[2018-09-26 18:04] junedchhipa commented on #131
@harconst
Thanks for catching that. I tested the real-time charts and indeed the memory consumption goes crazy after 5 mins which may ultimately lead to the browser crash.

In the real-time example, at every 2 seconds, the chart is re-drawn by removing all previous DOM elements and event handlers attached to those elements when `appendData()` is called.

Until now, I am not successful in tracing t

[2018-09-26 19:54] #127 closed

[2018-09-26 20:02] junedchhipa commented on #127
Updated the docs too
https://apexcharts.com/docs/options/xaxis/#formatter

[2018-09-26 20:37] lucafaggianelli opened #132 "Donut chart warning: Unexpected value 1 parsing stdDeviation attribute"
## Codepen

https://codepen.io/anon/pen/PyYYvV?editors=0011

## Explanation

When drawing a donut chart, a warning occurs on the console (actually 1 warn per donut slice).
The chart renders correctly, but I don't know if the warn is real or can be ignored

- What is the behavior you expect?
To have no warns in console

- What is happening instead?
Console warn

- What error message are you getting

[2018-09-26 20:42] lucafaggianelli opened #133 "Donut/Pie chart height not working"
## Codepen

https://codepen.io/anon/pen/PyYYvV?editors=0011

## Explanation

when I set the height of a donut or pie chart to a finite number, the container has the requested size, but the chart takes the full width available ignoring the height, so it is cut off. When running the pen, please be sure that windows height is smaller than width.

- What is the behavior you expect?
I expect that the c

[2018-09-27 17:21] junedchhipa commented on #133
Thanks for catching that @lucafaggianelli
Just fixed it in https://github.com/apexcharts/apexcharts.js/commit/77fa8a7f5f9e4fbf95bb70b0c44a83e906814f65

[2018-09-27 17:29] junedchhipa commented on #125
Checked in Chrome / Firefox / Safari on Mac - couldn't reproduce the issue.
Are you on Windows? If yes, which browser?

[2018-09-27 17:35] pribilinskiy commented on #125
@junedchhipa It's in Chrome on Ubuntu 18. Probably because of different default local font
On Windows it's ok indeed.
![image](https://user-images.githubusercontent.com/3078595/46163763-b73d5b00-c294-11e8-86e7-3f7747d96c2e.png)

[2018-09-27 17:37] lucafaggianelli commented on #132
No you get it as soon as the chart draws and it shows only in browser dev tools, not in code pen console. I'm using latest Firefox quantum. Anyway, just digging the web I saw that stdDeviation belongs to svg blur filters realm... I managed to get rid of the warn disabling the data labels drop shadow. Maybe this is browser dependant

[2018-09-27 17:38] junedchhipa commented on #125
Ok, thanks for the info. I will add some small paddings based on fontSize

[2018-09-27 17:39] junedchhipa commented on #122
Yeah, the interactivity is not very smooth on Microsoft Edge / IE11. I am in the process of optimizing tooltip code (along with fixing the null values bug).
Thanks for reporting

[2018-09-27 17:41] junedchhipa commented on #106
Closing this as cannot reproduce the issue

[2018-09-27 17:41] #106 closed

[2018-09-27 17:45] junedchhipa commented on #37
Here is a sneak peak of the grouped charts where zooming/panning as well tooltip will sync for charts having the same group.
![synced-tooltips](https://user-images.githubusercontent.com/17950663/46164217-0db59400-c2ab-11e8-8bf8-ab75effaec1d.gif)

Will provide demo/samples once I release a new build

[2018-09-27 17:48] junedchhipa commented on #76
I will try importing the CSS directly inline instead of attaching it to `document`. Not sure if it is possible with Webpack, but I will give a shot.

[2018-09-27 17:58] junedchhipa commented on #132
Right! I saw the warning in Firefox - and it indeed leads to svg.js drop shadow method.
Thanks for providing additional info, I will dig more.

[2018-09-27 18:03] lucafaggianelli commented on #133
Great! Thanks

[2018-09-28 06:58] ludovicthomas commented on #37
Great news! It will be really useful. Thanks.

[2018-09-28 11:29] fcubria opened #136 "Add class to tooltip when x exceeds gridWidth"
**Is your feature request related to a problem? Please describe.**
I'm trying to position the tooltip over the mouse cursor with css, but when x exceeds grid width it changes the way calculates position and my css rules place the tooltip too much to the left.

**Describe the solution you'd like**
Add class to tooltip when x exceeds gridWidth (Intersect.js), might be when an option is provided (so

[2018-09-28 16:28] junedchhipa commented on #136
@fcubria  I will add an option to position tooltip in the center (over the data point) along with left/right positions. The center option will not take into consideration whether the tooltip exceeds the gridWidth or not.
Thanks for the suggestion.

[2018-09-29 13:10] lucafaggianelli commented on #103
oh sorry, ok it works only on the menu items i guess...

[2018-09-29 14:11] junedchhipa commented on #103
I will add a generic search on the right sidebar too which will list down pages from the whole website.

[2018-09-30 07:18] junedchhipa commented on #48
This commit https://github.com/apexcharts/apexcharts.js/commit/1ded7a0fd46d039eb7d1fff1dffda6a3ec91150f fixes the flickering

[2018-09-30 07:19] #120 closed, assigned to nobody

[2018-09-30 07:41] junedchhipa commented on #130
Provided a new option in `options.grid.clipMarkers`
https://apexcharts.com/docs/options/grid/#clipMarkers

Will be available in v2.0.1

[2018-09-30 07:41] #130 closed

[2018-10-01 06:35] pnemi commented on #119
Thank you so much. It seems that API has changed and it broke my chart.
My code for formatting multiple y-axis tooltip we discussed in [issue 92](https://github.com/apexcharts/apexcharts.js/issues/92) no longer works (tooltip values are not being displayed).

[2018-10-01 06:41] junedchhipa commented on #119
I did a major update to fix a lot of issues (memory leaks, unused DOM elements) while rewriting the core file. I will look into the issue again.

[2018-10-01 06:53] pnemi opened #137 "Chart is not responsive to its container or window"
## Explanation

- What is the behavior you expect?
SVG element should resize and chart should redraw https://codepen.io/anon/pen/rqVyWm

- What is happening instead?
Chart just has fixed width leading to either being small or overflowing its container or window https://codepen.io/anon/pen/ZqGezO

- What error message are you getting?
None

[2018-10-01 07:01] pnemi commented on #119
I understand. I can't imagine how hard it's to maintain something this big. Our project really depends on your library so thank you again for cooperation 👍

[2018-10-01 07:37] junedchhipa commented on #119
Fixed the issue 92 in v2.0.4

[2018-10-01 07:50] junedchhipa commented on #131
Fixed the memory leak issues in the major release v2.0.0
There were DOM elements which were referenced even after destroy()
Removed all such references. Now if you watch the realtime demo example https://apexcharts.com/javascript-chart-demos/line-charts/realtime/ - the memory footprint doesn't increase crazily.

I tested with ~100 chart updates (at every 1 sec), and the Heat Snapshot increased fro

[2018-10-01 07:50] #131 closed

[2018-10-01 07:52] junedchhipa commented on #137
Fixed in v2.0.5

[2018-10-01 07:52] junedchhipa commented on #119
Fixed it in v2.0.5

[2018-10-01 07:54] #133 closed

[2018-10-01 08:20] KiddingMe42 opened #138 "Apex cut off max value in graph"
## Codepen

[Example](https://codepen.io/apexcharts/pen/QrbEQg)

## Explanation

There is no error. The problem is just the view. If the max value of y-axis are not at the end of the series entries and the stroke curve is set to smooth, then the graph is not shown correctly.

[2018-10-01 08:38] KiddingMe42 commented on #138
Hi @jimfilippou,

this works for me, but if the min value > 0 the gradient of the area charts will end under the xaxis. Do you have any idea?

[2018-10-01 08:42] jimfilippou opened #139 "Weird hover cut out on top data points"
The issue happens on hover and only on the top points, however, it works perfectly on codepen. I use

I use this grid configuration
[code]

Expected behavior
https://codepen.io/jimfilippou-the-animator/pen/WavEeV

Actual behavior
![screenshot 3](https://user-images.githubusercontent.com/6877046/46278348-8ef07d80-c56e-11e8-9541-969de6aec8b1.png)

[2018-10-01 08:52] jimfilippou commented on #138
Please provide a codepen so i can help you more accurately. However, there is a `startFromZero` option which may or may not help

[2018-10-01 08:59] junedchhipa commented on #139
Can you post your marker size (normal and hover both)?

[2018-10-01 09:19] jimfilippou commented on #139
Not sure how I can see the marker size, however, this is my complete configuration

[code]

[2018-10-01 10:34] jimfilippou commented on #139
Amazed by your dedication & hard work, much appreciated! 😄

[2018-10-01 10:37] jimfilippou commented on #137
I can confirm this is fixed since I had the same issue 🎆

[2018-10-01 10:39] #137 closed

[2018-10-01 18:44] junedchhipa commented on #110
@bivald Sorry for the delay, missed the message.
I tried your suggestion you provided in that commit, but for some reason - it didn't work great.

Sure, you can try creating a PR :)

[2018-10-02 10:13] jimfilippou opened #140 "How to set chart's height to 100%"
### Question
According to https://apexcharts.com/docs/options/chart/height/, you can set the height to a fixed number, but is there a way to make it 100% height of it's parent?

[2018-10-02 10:29] junedchhipa commented on #140
Just corrected it.
Previously `height: 100%` didn't work as expected even though parent height was provided.

You will have to give the parent element some height and then if you give `options.chart.height: 100%`, then the chart will take the parent's height

[2018-10-02 10:29] #140 closed

[2018-10-02 11:00] pribilinskiy commented on #125
Upgraded to 2.0.6, labels are still (or even more) cropped
![image](https://user-images.githubusercontent.com/3078595/46344941-71ddac80-c64b-11e8-83e0-2286b8b1ab62.png)

[2018-10-02 11:02] junedchhipa commented on #125
Yes, this is still not worked upon.
You will have to wait for the next version ;)

[2018-10-02 11:38] junedchhipa commented on #138
I think I understood the issue that the gradient is getting stretched to value 0 even if yaxis.min > 0.
A codepen example will be helpful though to avoid misunderstanding

[2018-10-02 11:40] #125 closed

[2018-10-02 12:56] junedchhipa commented on #128
v2.0.8 adds locales directory to `/dist`.
Other users can contribute in `/src/locales`. Each build will copy the src locales to dist directory.

[2018-10-02 13:36] junedchhipa commented on #76
@tcarlsen Unfortunately, there is no easy way to disable style append in the final build file.
You will have to do a custom build of apexcharts if you want to avoid injecting CSS into the document. As removing it from the current build file and providing it as an additional import will break every existing installation.

[2018-10-03 11:16] junedchhipa opened #141 "Candlestick update is not working correctly"
When updating the candlestick chart by `updateSeries()` method, the axis gets updated - but the OHLC series calculation isn't working as expected

[2018-10-03 11:37] jimfilippou opened #142 "x-axis tooltip hides the actual x value on hover"
I'm using a custom formater and specificly this
[code]

It works correctly but when i hover over a day, it hides that day and displays the value that it got. This is normal behavior but how can i fix it?

![image](https://user-images.githubusercontent.com/6877046/46407981-4de89c80-c719-11e8-83a7-d62268daa677.png)

The problem in the above image is that Wednesday is hidden behind Total transactions

[2018-10-03 11:52] tcarlsen opened #143 "Cant handle more than 4 series"
Trying to add more than 4 series results in this error:

[code]

[code]

*adding more than 4 colors in my colors array. didn't help*

[2018-10-03 14:03] #141 closed

[2018-10-03 14:03] #142 closed

[2018-10-03 15:36] #138 closed

[2018-10-03 15:40] Carniatto commented on #98
@junedchhipa just tried with the latest version `2.0.6` and the problem persists :(
here's an example: https://stackblitz.com/edit/angular6-apexcharts

I think the problem is when you use formatters for labels it will not consider it

[2018-10-03 16:11] junedchhipa commented on #143
I cannot reproduce this.
Can you please create a codepen?

[2018-10-03 17:01] junedchhipa commented on #138
Fixed the gradient in area charts which was stretched to 0 even yaxis > 0

[2018-10-04 06:00] KiddingMe42 commented on #138
@junedchhipa Yeah you the bug. Do you still need the codepen? I was starting the pen right now before I saw your mail.
Thank you!

[2018-10-04 07:55] junedchhipa commented on #138
@KiddingMe42 No, I don't need the codepen now (unless the issue is still not fixed).
Please try updating to the latest version 2.0.9 and let me know if it works

[2018-10-04 12:14] fcubria opened #144 "Not shared tooltip does not show on mouseover when xaxis.categories is provided"
## Codepen
https://codepen.io/fcubria/pen/MPyqax

## Explanation
In the codepen there are two line charts, both with the same configuration except xaxis.categories property, which is only in the configuration for the second chart.
In the first chart you can hover both series and see the tooltip, but in the second one only the tooltip corresponding to the blue serie is visible.

**Without xaxis.cat

[2018-10-04 12:27] fcubria commented on #144
@junedchhipa Many thanks for your quick response, you are right.

[2018-10-04 12:27] #144 closed

[2018-10-04 12:50] jimfilippou opened #145 "Layer issue on xaxis tooltip"
This happens when you have a lot of datasets, any thoughts on solving this?

![image](https://user-images.githubusercontent.com/6877046/46475051-1cd99c00-c7ed-11e8-95ed-41fbc987c392.png)

[2018-10-04 12:51] jimfilippou commented on #145
Increasing the height just in case it solves it

[2018-10-04 14:02] junedchhipa commented on #145
I think a conditional check is required. If the tooltip height exceeds grid area, the tooltip needs to stick inside the grid area which will prevent getting `x-axis tooltip` in the way of the general tooltip.

[2018-10-04 15:28] jimfilippou commented on #145
This is the minimum that the chart y can get. The y here is 0 however the data can't fit in there. Instead of calculating Y, the tooltip's items must divide in two lists and not one long list that can't fit in the UI. So i suggest that in case of multiple datasets, the default behavior should group the datasets decreasing the height.

![untitled](https://user-images.githubusercontent.com/6877046/4

[2018-10-04 15:40] junedchhipa commented on #145
Good suggestion, I will give it a try

[2018-10-05 08:13] tcarlsen commented on #143
I'm so sorry about this issue. for some reason, I had only 1 color in property `colors` in`dataLabels`.  and this causes the chart to fail on more than 4 series.

[code]

[2018-10-05 08:13] #143 closed

[2018-10-05 11:11] #37 closed

[2018-10-05 13:02] pribilinskiy opened #146 "Interpolate or duplicate missing data values"
AFAIK currently there's no way to draw lines on missing data on line charts, only points are drawn.
https://codepen.io/anon/pen/WaxKdp

This doesn't look alright when there's many missing data
![image](https://user-images.githubusercontent.com/3078595/46536391-0730a900-c8b7-11e8-80c8-89720fac0cda.png)

Although one can fill that data by specifying interpolated values or repeating former value it w

[2018-10-05 14:44] jchamb opened #147 "Feature Request: Public methods for toggling Series data. (Like clicking legend)"
**Is your feature request related to a problem? Please describe.**
Its common to build custom legends for better display when there are a large amount of series data. eg. content categorization  with 16 categories. Typically we'll build a custom dropdown similar to https://codepen.io/elmahdim/pen/hlmri with an additional option to deselect (hide) all.

Currently we build custom filters to remove t

[2018-10-05 21:34] junedchhipa commented on #147
Interesting. The fact that legends are drawn by SVG elements (unlike tooltips which are drawn by HTML elements) makes customizing the legend a bit harder. Some users also faced issues in legend placements when there are too many items in legend.

I will surely work on this feature request in the upcoming releases.
Thanks for the suggestion

[2018-10-05 21:40] junedchhipa commented on #125
I have made a 10px offset when the legend is on right, but couldn't really test on Ubuntu.
Let me know if v2.0.9 fixes it.

[2018-10-06 08:19] pribilinskiy commented on #125
@junedchhipa that fixed it, finally! Thanks!

[2018-10-07 07:32] junedchhipa commented on #145
I tried making multiple columns in the tooltip - but it didn't work out great. Many things will have to be taken into consideration when changing tooltip layouts for many items.
So, for time being, I suggest using CSS (removing paddings/making font size smaller, etc) to accommodate a large number of items into the chart area.

I have prevented the tooltip to go below the chart area preventing draw

[2018-10-07 07:32] #145 closed

[2018-10-07 07:32] #128 closed

[2018-10-07 07:51] #85 closed

[2018-10-07 20:57] junedchhipa commented on #98
Hi @Carniatto
I will take a look again. Seems like the yaxis labels needs extra attention when there are multiple y-axes.
Re-opening this.

[2018-10-08 08:48] pribilinskiy opened #148 "Improve exec method documentation"
In both apexcharts and wrapper libs (e.g. vue-apexcharts) please add an example on how to specify additional parameters, e.g. `redrawPaths`, `animate` for `updateOptions`

## In details

The `updateOptions` has 3 parameters:

[code]

The `exec` has only one parameter for method parameters

[code]

[There's an example](https://apexcharts.com/docs/methods#exec)

[code]

But there's no mention on how

[2018-10-08 09:14] pribilinskiy commented on #148
In [this codepen](https://codepen.io/anon/pen/MPbQed) I'm trying both ways, by adding `false` as extra argument and by adding `animate: false` to the `params` objects.
None of them works

[2018-10-08 09:15] junedchhipa commented on #148
I will elaborate the params, thanks for catching.

[2018-10-08 11:04] junedchhipa commented on #148
Digging into the code, the additional parameters (like `animate, redraw`) were ignored in `exec` method.

I have fixed that in the commit below.
Also updated the documentation example for `exec` method which states that the parameters have to be passed in the same order as they are passed while calling the method directly.

[2018-10-08 11:05] junedchhipa commented on #148
This commit https://github.com/apexcharts/apexcharts.js/commit/78530aa3ad3b32992559d44cb9c134c625fd4ba9 fixes it. Will be available in the next patch release.

[2018-10-08 11:05] #148 closed

[2018-10-08 14:52] junedchhipa commented on #126
Added a new option `chart.brush` which allows you to create this "chart minimap" easily.

[Docs](https://apexcharts.com/docs/options/chart/brush/)
[Demo](https://apexcharts.com/javascript-chart-demos/line-charts/brush-chart/)

[2018-10-09 07:57] #126 closed

[2018-10-09 10:35] pribilinskiy commented on #126
Nice!

How to synchronize brush-chart with main chart when Toolbar is enabled?
Currently when you use any of the tools from the toolbar doesn't reflect position in the brush chart

[2018-10-09 10:38] junedchhipa commented on #126
@pribilinskiy Currently panning on the main chart reflects selection on the brush chart. I think, I forgot the zooming part, I will take a look again.

[2018-10-09 10:42] pribilinskiy commented on #126
@junedchhipa well, not really.
If you not specify `selection.xaxis` and zoom in in the brush chart, panning the main chart will not affect the brush chart
https://codepen.io/anon/pen/YJNOjz

[2018-10-09 11:00] junedchhipa commented on #126
Right, ok. Thanks for catching.

[2018-10-09 11:42] junedchhipa commented on #126
😍

[2018-10-09 13:36] jimfilippou opened #149 "X axis values with labels not aligned"
## Codepen
https://codepen.io/jimfilippou-the-animator/pen/aRpxdG

## Explanation
The X-axis takes 100% of the area but line chart doesn't

- What is the behavior you expect?
Equally aligned values on X axis

- What is happening instead?
This https://codepen.io/jimfilippou-the-animator/pen/aRpxdG

- What error message are you getting?
No error message

[2018-10-09 13:54] diomed opened #150 "Can categories be displayed via dataLabels?"
I see that series can, but how would I display categories in bar as well?

[2018-10-09 13:57] junedchhipa commented on #150
@diomed I failed to understand what you mean. Can you please elaborate?
Are you looking for something like this?
![screen shot 2018-10-09 at 7 27 21 pm](https://user-images.githubusercontent.com/17950663/46674277-5e0cea00-cbf9-11e8-8c65-f55ea67a0611.png)

[2018-10-09 13:58] diomed commented on #150
yes

[2018-10-09 13:59] junedchhipa commented on #149
Try this:

[code]

[2018-10-09 14:05] junedchhipa commented on #150
I will put the above example in website demo pages soon.

For now, you can try the following code to achieve the same result

[code]

[2018-10-09 14:11] jimfilippou commented on #149
I have updated my pen https://codepen.io/jimfilippou-the-animator/pen/aRpxdG
The issue seems to be resolved **only** for first and last values, however, the initial issue persists

[2018-10-09 14:20] junedchhipa commented on #149
If you do not provide any labels or categories, ApexCharts generates labels in 1.2.3... fashion and gives `xaxis.tickAmount: 8` as default.
In such a case, you will have to play with `tickAmount` and see what works. I guess `tickAmount: 7` will work in your case.

I will change `tickAmount` default for such use-cases to equal the number of data-points in the next releases.

[2018-10-09 14:54] jimfilippou commented on #149
Fixed, but close the issue whenever you default the `tickAmount` to the data points.
Thanks once again! 🙌 🎉

[2018-10-09 20:13] jchamb commented on #122
I'm also seeing performance issues In chrome when having multiple charts with large data sets. When series is injected, screen freezes and throws tons of http://take.ms/g84Dl

Above is on a screen with 6 line charts, all with 12 series with 90 data points each. (Categorization visit counts across 90 days.)

should also note that I'm using vue-apexcharts, with options and series generated through v

[2018-10-09 21:14] junedchhipa commented on #150
Added example on website https://apexcharts.com/javascript-chart-demos/bar-charts/custom-datalabels/

[2018-10-09 21:14] #150 closed

[2018-10-09 21:14] #149 closed

[2018-10-10 06:34] pribilinskiy opened #152 "Chart events"
The new `brush` chart is a very nice new feature that allows to add a minichart an overview of all available data.
The problem is when there are tons of data available, e.g. megabytes of data per chart, that data should be loaded asynchronously, on-demand, for the main chart.

See e.g. [this chart](https://coinmarketcap.com/currencies/bitcoin/) for implementation.
Set range to 1 month and start sc

[2018-10-10 06:37] pribilinskiy commented on #111
@junedchhipa Such an option would be great! We have too many items in legend and then in the tooltip and limit to e.g. 10 items by initially disabling the rest would be very useful.

[2018-10-10 06:38] #152 closed

[2018-10-10 06:38] pribilinskiy commented on #152
Sorry, didn't noticed this: https://apexcharts.com/docs/options/chart/events/

[2018-10-10 10:40] junedchhipa commented on #103
Closing this. Feel free to create a PR for vue-demos in `samples` directory.

[2018-10-10 10:40] #103 closed

[2018-10-10 11:09] mestaritonttu opened #154 "Responsive options dropped when doing updateOptions via exec"
## Codepen

https://codepen.io/anon/pen/OBpYXW

## Explanation

Pen is a fork of the responsive example from ApexCharts docs.
Set your viewport size smaller than the breakpoint 1000.
Now select "2009" from the dropdown (it triggers the exec).
Notice the chart swings back to the wide screen options.

[2018-10-10 11:15] junedchhipa commented on #154
This is very similar to #74. Thanks for the detailed explanation.
Hopefully, will be fixed in the next release

[2018-10-10 16:34] #74 closed

[2018-10-10 17:19] mestaritonttu commented on #154
Thanks for the quick fix! I tested the patch and confirm it is working. ApexCharts is looking pretty bad ass now.

[2018-10-11 04:59] pnemi commented on #147
+1.
I love that tooltips are HTML, so easy to customize, so HTML legend would be great as well.

[2018-10-11 05:06] pnemi opened #157 "Feature request: Custom annotation icon content"
**Is your feature request related to a problem? Please describe.**
No

**Describe the solution you'd like**
Right know I can add axis annotation which is a line with text annotation and rect background. I would love to be able to provide custom SVG content to draw instead of that text and rect, for example an icon.

**Describe alternatives you've considered**
No way to draw an anno icon right now.

[2018-10-11 05:07] junedchhipa commented on #104
It is possible to have a variable number of scales and multiple series for each scale. You have to relate yaxis to chartID. I will provide an example soon.
Also, as this is a very common requirement, I will write a post on how this can be done.

[2018-10-11 05:58] #76 closed

[2018-10-11 06:00] junedchhipa commented on #76
@tcarlsen I had to move svg.js dependency to ApexCharts /src as there are other issues arising in the core svg.js code. I have removed that check which was causing issues in the custom element. Let me know if any more issues arise when using ApexCharts in custom elements.

[2018-10-11 11:04] junedchhipa commented on #147
Released a patch release 2.1.4 to support `toggleSeries()` programmatically.

[code]

[Docs](https://apexcharts.com/docs/methods/#toggleSeries)
Codepen demo: https://codepen.io/junedchhipa/pen/YJQKOy

[2018-10-11 11:20] junedchhipa commented on #111
A new public method `toggleSeries('seriesName')` is added since 2.1.4 which will allow you to toggle series visibility programmatically.

You can also create a custom legend and call this method to control the series visibility.

Codepen [Demo](https://codepen.io/junedchhipa/pen/YJQKOy)
[Docs](https://apexcharts.com/docs/methods/#toggleSeries)

[2018-10-11 11:20] #111 closed

[2018-10-11 11:36] junedchhipa commented on #104
Here you go: https://codepen.io/junedchhipa/pen/KGqwmd

In the demo, you can see - you have 3 series, but only 2 scales. You can control which series uses a particular scale in the `yaxis` property. Try changing the `seriesName` in yaxis and see how it corresponds with the series.

[2018-10-11 13:06] codezion commented on #104
Thank you. The example works but it is not so simple with the real data. There seems to be hidden rules:
-As many elements in yaxis as in series
-only the last serie in that scale can be selected as common name for the scale, only way max and min do not hang the script
-forced to use max and min  (only values from one scale checked automatically)
-max and min must be only at that right element in

[2018-10-11 13:46] codezion commented on #104
In chart.js there are yaxis with id and that id can be given to the dataset, so can be like yaxis with only 3 elements and 20 datasets pointing to those like I have now. Actually trying to port that implementation to use Apexcharts instead to get more speed. There are huge amount of datapoints in those.

In your example if you write min:-20 to first yaxis elment, it crash. In the second it do not.

[2018-10-11 14:19] junedchhipa commented on #104
Thanks for providing the details.
Yes, it crashed when I tried `min: -20` in the y-axis. It's a small bug which I have just fixed while testing.

Regarding your other points, I am carefully testing each y-axis by providing min/max to each y-axis.
Soon, these minor issues will be resolved.

[2018-10-11 17:31] andresumanzor opened #158 "Grid Alignment"
**Is your feature request related to a problem? Please describe.**
No

**Describe the solution you'd like**
Access to a prop which would allow users to select if the grid would be either aligned regarding the X or Y axis.

**Describe alternatives you've considered**
The grid not to start halfway before the first point on the X Axis

**Additional context**
Sample Options Code (This was mind for a S

[2018-10-11 17:47] junedchhipa commented on #158
In `category` x-axis chart, the left and right padding cannot be removed easily.

You can try `xaxis.type = 'datetime'` along with `grid.padding.left = 0` and `grid.padding.right = 0`

Your updated demo: https://codepen.io/junedchhipa/pen/XxgeKE
![screen shot 2018-10-11 at 11 17 15 pm](https://user-images.githubusercontent.com/17950663/46823447-d3b8b780-cdab-11e8-9f91-ebbc73a76308.png)

Also, I di

[2018-10-11 20:03] andresumanzor commented on #158
Thank you @junedchhipa, it works like a charm!

[2018-10-11 20:04] #158 closed

[2018-10-11 21:50] andresumanzor opened #159 "Hide the ToolBar when an attribute as XAxis is added into the options object."
**Is your feature request related to a problem? Please describe.**
Thing is that whenever you add the xaxis attribute into the chart's root options object then, the upper-right toolbar is displayed.

**Describe the solution you'd like**
A prop which allows you to hide the bar.

**Describe alternatives you've considered**
Not adding values as the xaxis into the chart's options but, that would make

[2018-10-11 22:29] jimfilippou opened #160 "Clipmarkers on left and right of the grid are not working"
Here is the Codepen https://codepen.io/jimfilippou-the-animator/pen/WavEeV

![sketch 1](https://user-images.githubusercontent.com/6877046/46837492-3024d280-cdbe-11e8-9463-8d15462ed9f0.png)

Take a look at the above image, I believe the markers shouldn't be like this.

[2018-10-12 01:01] jchamb commented on #147
Heck Yeah! Thanks for tackling so quickly.

[2018-10-12 04:19] junedchhipa commented on #159
options.chart.toolbar.show = false

[2018-10-12 05:16] #147 closed

[2018-10-12 09:44] tcarlsen commented on #76
Wow, beautiful! thx you so much !!!

I will keep testing having appex inside custom elements and report back to you.
Thx for an awesome tool!

[2018-10-12 13:54] #104 closed

[2018-10-13 08:17] #160 closed

[2018-10-13 15:40] diomed opened #161 "sorting by data number"
is there a way to sory by data number?

https://codepen.io/diomed/pen/BqWBPr

I'd like to be able to sort graph from smallest number to largest

also what could I do to increase height, and to display full text of what is written in bar,
since it gets cut if amount is too small?

[2018-10-13 16:57] junedchhipa commented on #161
Sorting data items is a good suggestion, but in my opinion, needs to be handled externally before injecting data into the chart.

Regarding your second query, there is currently no way to manipulate text other than using label formatters. Also, you can display full text in the tooltip if it gets cropped in the bar data-labels

[2018-10-13 17:14] diomed commented on #161
as you can see, I already have tooltip, so that saves it.

how would this be handled externally?

[2018-10-15 09:52] XAHTEP26 opened #162 ""beforeZoom" and "zoomed" events does not work correctly"
1. **beforeZoom** event callback always throw error: _Uncaught TypeError: Cannot read property 'xaxis' of undefined_.
2. **beforeZoom** and **zoomed** events not fired when the selection goes beyond the block boundary with the schedule.

[Demo on Codepen](https://codepen.io/XAHTEP26/pen/rqYOmK)

[2018-10-16 11:17] junedchhipa commented on #160
If you are using numeric xaxis as shown in your screenshot, you might want to change `xaxis.type = 'numeric'` which will be introduced in v2.1.5

Once, you do that, the grid paddings will adjust automatically to make space for the markers.

[2018-10-17 09:50] jimfilippou opened #163 "Layer issue on tooltip and x-axis tooltip"
## Codepen

https://codepen.io/jimfilippou-the-animator/pen/aRpxdGe to help us troubleshoot your problem.

## Explanation

- What is the behavior you expect?
Tooltip not overriding the x-axis tooltip

- What is happening instead?
![untitled](https://user-images.githubusercontent.com/6877046/47078070-201c5100-d20b-11e8-9315-293f8160f03c.png)

- What error message are you getting?
No error message

[2018-10-17 10:47] junedchhipa commented on #163
Oh! So, the tooltip still gets in the way of x-axis tooltip. Wondering, why my last fix didn't work.

Your codepen link doesn't work. Can you please send a new one?

[2018-10-17 11:40] jimfilippou commented on #163
Whoa... why 404 on my Codepen?
investigating... 🔍

[2018-10-17 14:01] junedchhipa commented on #163
Will be shipped with tomorrow's release 2.1.5

[2018-10-18 06:29] XAHTEP26 opened #164 "xaxis.labels.formatter does not work when xaxis.type set to 'datetime'"
[Demo on Codepen](https://codepen.io/XAHTEP26/pen/dgmOjW)

If I comment out the line `type: 'datetime'`, the formatter will work.

I also noticed that when xaxis.type is set to 'datetime' the points on the graph do not coincide with the points on the x axis.

P. S. Sorry for my English

[2018-10-18 06:59] junedchhipa commented on #164
Thank you for reporting. Yes, the formatter doesn't work when xaxis.type is datetime.
Just fixed it.

And, when you set the xaxis.type to datetime, the points on the yaxis are not calculated based on the number of points. It is calculated based on the difference of dates between the left end of the x-axis and right end of the x-axis.

[2018-10-18 07:00] #164 closed

[2018-10-18 13:38] jimfilippou opened #165 "Really weird error that i can't think of a proper issue title"
## Codepen

https://codepen.io/jimfilippou-the-animator/pen/yRKxLM

## Explanation

- What is the behavior you expect?
The chart to be rendered.

- What is happening instead?
The chart is not rendered

- What error message are you getting?
TypeError: a.globals.seriesNames[v].replace is not a function

I don't know where the error is happening since I'm using a minified version. This error fix is u

[2018-10-18 13:46] junedchhipa commented on #165
You are inputting a numeric value for series name 😀
Although, I have added a check now - you should pass a String there.

[2018-10-18 13:57] jimfilippou commented on #165
Fixed on my end as well!

[2018-10-18 13:57] #165 closed

[2018-10-19 05:14] junedchhipa commented on #97
**A note to myself:** When the chart updates, it gets the previous paths which are drawn before this update. In this case, as nothing is drawn before it, it fails to get previous paths and hence fails to animate the initial load. The next updates animate as usual.

[2018-10-19 17:56] junedchhipa commented on #161
Something like this

[code]

After you sort it, you can then pass that data to the ApexCharts series.

[2018-10-20 08:31] albanafmeti opened #166 "critical css issue - `hidden` class crashing my app"
- I am using `hidden` class in my code with `display: none`, and you are using it with `opacity: 0` without putting apexchart parent class or something else. This is crashing my app from normal behaviour.

![capture](https://user-images.githubusercontent.com/11160896/47253457-4d5b4000-d453-11e8-9563-8a287cf97040.PNG)

- You need to use `hidden` class there with an apexchart namespace. It should no

[2018-10-20 09:06] junedchhipa commented on #166
Ouch! I am sorry.
Being a CSS nerd, I am surprised why I did that initially 😀
I will fix that very soon, thanks for reporting

[2018-10-20 09:09] #166 closed

[2018-10-20 09:29] junedchhipa commented on #166
No, I will release a patch update on npm in the next week.
Till then, you can use the GitHub [dist](https://github.com/apexcharts/apexcharts.js/tree/master/dist) files of the master branch which I updated couple of minutes ago.

[2018-10-22 08:41] jimfilippou opened #167 "X axis labels are still misaligned"
## Codepen

https://codepen.io/jimfilippou-the-animator/pen/VEBrwe

## Explanation

I believe this was an older issue which wasn't fixed. I am aware that using `labels: [1,2,3,4,5,6,7,8,9]` will solve the problem, but this is not a solution since the default behavior should align the x-axis properly.
What do you suggest wise man? 💯

- What is the behavior you expect?
![untitlee](https://user-image

[2018-10-22 09:15] #161 closed

[2018-10-22 12:10] junedchhipa commented on #167
Codepen not found

[2018-10-22 12:22] jimfilippou commented on #167
@junedchhipa updated... once again 😛

[2018-10-22 14:00] junedchhipa commented on #167
If you don't know the number of dataPoints initially, then you can run an additional function after `render()`

[code]

Also, you need to set `xaxis.tickAmount = 'dataPoints'` for it to set the correct tick intervals.
[code]

Updated [codepen](https://codepen.io/apexcharts/pen/vVabWB)

[2018-10-22 14:37] pribilinskiy opened #168 "Cannot set rgba color nor opacity for particular data in line chart"
https://codepen.io/anon/pen/BqPbMP

In order to dim/highlight particular data in a chart we need to increase transparency of such lines.

When applying a color in `rgba` format the lines appear gray on the chart, although such colors appear correctly in legend and tooltip.

[code]

[2018-10-22 15:55] junedchhipa commented on #168
If it works in legend, then I need to take a look why it doesn't work for paths.

[2018-10-22 16:44] junedchhipa commented on #167
Why can't I view this ticket on GitHub?

On Mon, Oct 22, 2018 at 2:41 PM Jim Filippou <notifications@github.com>
wrote:

[2018-10-22 16:50] jimfilippou commented on #167
Github is experiencing a lot of issues today, a lot!  💢

[2018-10-22 16:51] jimfilippou commented on #167
The problem is fixed, although this seems more like a 'hacky' way to solve this problem.
Thanks anyway

[2018-10-22 16:57] junedchhipa commented on #167
Yeah, for now, it seems hacky way.
I will add this as a default behavior in the next releases for empty categories. Let's keep this ticket open until I fix it

[2018-10-22 19:32] junedchhipa commented on #168
This [commit](https://github.com/apexcharts/apexcharts.js/commit/a71533101c06dfeea897848f658b15586f8f846f) fixes it.
Now, colors will accept rgba

[2018-10-22 19:32] #168 closed

[2018-10-23 00:36] lsjzzang17 opened #169 "Add custom text on radialBar Chart"
Hi I do not speak English well but this radialBar has been used so beautifully
This radialBar is very good.
So, i used my project.
i need radialBar xaxis So, i tried
Where is xaxis on radialBar ?

plz, your answer
 thank you

![default](https://user-images.githubusercontent.com/29587169/47327937-fbf8be00-d6a9-11e8-8fbf-d30311e32449.jpg)

[2018-10-23 06:12] junedchhipa commented on #169
There is no direct option to draw labels as you described in the image.

But, you can use ApexChart's `addText()` method to draw custom text elements on chart area.
Here is a c[odepen example](https://codepen.io/apexcharts/pen/VEGyGx) which produces this result.
![screen shot 2018-10-23 at 11 41 33 am](https://user-images.githubusercontent.com/17950663/47339359-9fe96600-d6b8-11e8-8dc8-215a1bc5a0bc

[2018-10-23 06:48] jimfilippou commented on #167
@junedchhipa another issue showed up related to this, take a look at this picture
![untitled](https://user-images.githubusercontent.com/6877046/47340745-db2f6900-d6a7-11e8-9002-2958ecd7fe8f.png)

Taking a look at this codepen https://codepen.io/jimfilippou-the-animator/pen/vVzddq
you will see that everything is ok until you see the console which looks like this
![untitled1](https://user-images.git

[2018-10-23 09:13] #169 closed

[2018-10-24 04:49] passcod opened #171 "Add option to always show legend"
**Is your feature request related to a problem? Please describe.**

We have a fixed set of series but we filter the empty ones. So we'll have A, B, C, D... but if A and C are empty we'll only give B and D to apexcharts. That's so it does less work.

We have legend enabled, so it can be seen easily which series is which. That usually works great. However, when we have only one series displayed, the

[2018-10-24 07:33] junedchhipa commented on #171
Sure, this is an important enhancement. I will provide this option.

[2018-10-24 11:04] jimfilippou commented on #167
Just to help you out, I have tested the `Math.round()` for a large number of x values and the round function is accurate, take a look https://codepen.io/jimfilippou-the-animator/pen/XxxvZb?editors=1111

[2018-10-24 11:07] junedchhipa commented on #167
Thanks for testing with bigger datasets.

Another issue I just noted in your example is that markers show at the top for an empty dataset. That needs to be taken care of as well.

[2018-10-24 11:50] jimfilippou commented on #167
Yes, that is also an issue, I was going to open it in another GitHub issue, should I do it now or you prefer to have them both here

[2018-10-24 11:51] junedchhipa commented on #167
Please open another, so I can keep track

[2018-10-24 12:22] jimfilippou opened #172 "Undefined values are sometimes at the top of the grid"
## Codepen

https://codepen.io/jimfilippou-the-animator/pen/mzQyEw?editors=1111

## Explanation

- What is the behavior you expect?
Datasets without data should not appear on the grid.

- What is happening instead?
![chart](https://user-images.githubusercontent.com/6877046/47429898-63913500-d7a0-11e8-82f5-10f4cf062298.png)

- What error message are you getting?
No error message

Try resizing the p

[2018-10-24 20:19] #172 closed

[2018-10-24 20:41] #171 closed

[2018-10-24 20:50] passcod commented on #171
Great, thanks!

[2018-10-25 05:53] junedchhipa commented on #167
Fixed it in https://github.com/apexcharts/apexcharts.js/commit/7a34f2365394272aeb0661e48a06a38d510eef68

[2018-10-25 09:18] jimfilippou commented on #167
Okay, when is the upcoming build?

[2018-10-25 10:01] junedchhipa commented on #167
In 1 hour 😁

[2018-10-25 12:39] jimfilippou commented on #167
The issue is still here https://codepen.io/jimfilippou-the-animator/pen/zmyKMx?editors=0010

[2018-10-25 18:51] junedchhipa commented on #167
@jimfilippou Oops! I totally forgot to test without taking out the `hacky` code which we used previously.
Sorry about that. Also, I noticed - in the docs page, I have mentioned `xaxis.type = 'categories'` when in fact, it has to be `xaxis.type = 'category'`. Fixed the docs and all typos in code also.

Some code refactoring is required now as I did some quick fixes. Will be taken care in the next r

[2018-10-25 21:06] jimfilippou commented on #167
Thanks again! let me know if you need any kind of help 😃

[2018-10-26 09:24] jimfilippou opened #173 "Data that is 100% of zeroes, is not rendered correctly on y axis"
## Codepen

https://codepen.io/jimfilippou-the-animator/pen/zmeqXZ?editors=0010

## Explanation

- What is the behavior you expect?
![expectation](https://user-images.githubusercontent.com/6877046/47557364-27cdab00-d919-11e8-9f34-f5ed43d7018d.png)

- What is happening instead?
![reality](https://user-images.githubusercontent.com/6877046/47557412-42078900-d919-11e8-9cd2-a56e536df968.png)

- What er

[2018-10-26 10:45] #167 closed

[2018-10-26 11:23] laurencei opened #174 "Min yaxis not rendering correctly"
## Codepen

https://codepen.io/anon/pen/QZYdQE?editors=0010

## Explanation

When setting a `min` on the `yaxis`, if an area of the chart goes below that, it doesnt render correctly.

This is what currently renders:
![image](https://user-images.githubusercontent.com/1210658/47563463-9fc5c080-d96d-11e8-86a4-103b7419d55a.png)

But this is what I would expect (note that nothing appears below "50")

!

[2018-10-26 11:29] junedchhipa commented on #174
Try
[code]

Updated [codepen](https://codepen.io/junedchhipa/pen/ePxgby?editors=0010)

I will make this as a default behavior to prevent drawing outside the grid area.

[2018-10-26 11:32] laurencei commented on #174
Thanks @junedchhipa - works perfectly!

[2018-10-26 11:32] #174 closed

[2018-10-26 12:07] laurencei opened #175 "Tick amount not working on yaxis"
## Codepen

https://codepen.io/laurencei/pen/LgqxgM

## Explanation

So maybe I'm misunderstanding - but I though `tickamount` is the amount of each grid displayed.

i.e. if I set `yaxis: { tickamount: 25 }` - then I would expect 'ticks' (or grid lines) at 0, 25, 50, 75 etc.

Instead setting this variable seems to have no noticeable effect?

Am I missing something?

[2018-10-26 12:35] junedchhipa commented on #175
There's a typo in your config
It should be `tickAmount` and not `tickamount`

What `tickAmount does`?
It creates a number of lines/ticks between min and max values.
For eg., `tickAmount: 20` will create 20 intervals in the y-axis like the below image.

![screen shot 2018-10-26 at 6 02 50 pm](https://user-images.githubusercontent.com/17950663/47566520-a6dad780-d949-11e8-8aaf-524f3b1349e0.png)

[2018-10-26 12:40] laurencei commented on #175
oh wow - sorry @junedchhipa for that mistake - I've been looking at it for 30mins

[2018-10-26 12:40] #175 closed

[2018-10-26 19:14] varrodani opened #176 "Draw only one series in staight area and line charts"
Dear developoers,
I want to report a bug issue.

## Codepen
https://codepen.io/anon/pen/gBqBPX
## Explanation
I want to display a countinous chart line with two series. In the first series last element nulled and the second series elements nulled until before last.
I created a two data series and the chart only the first data series drawed in the chart. The data source is ok because if I change th

[2018-10-26 19:17] junedchhipa commented on #176
Dear @varrodani, thanks for raising an issue. I understood the problem and this will be fixed in the next release.

[2018-10-26 19:17] varrodani commented on #176
I almost forgot.
I would not want to use datetime on the x axis

[2018-10-26 19:18] junedchhipa commented on #176
Cool, I will take that into account

[2018-10-26 19:28] varrodani commented on #176
Yes, I want to see this!
Thank you very much!

[2018-10-26 19:35] #173 closed

[2018-10-26 19:36] junedchhipa commented on #176
Ok, this is fixed ☺️
I will release a new update tomorrow

[2018-10-26 19:36] #176 closed

[2018-10-27 15:26] MedinaGitHub opened #177 "text in two lines not ellipsis"
**Describe the solution you'd like**
text in two lines

**Describe alternatives you've considered**
texto mas pequeño

**Additional context**

Lorem
ipsum

not
Lorem...

[2018-10-27 16:16] junedchhipa commented on #177
I assume you're talking about labels in x-axis which are truncated by ellipsis.
If yes, I will think about that option.
Also, this will be possible in category axis charts and not datetime. One option is to provide category labels in array format like this:

[code]
The array labels can then be drawn in separate lines.

[2018-10-27 18:42] junedchhipa commented on #162
Fixed in 2.1.7.

[2018-10-27 18:42] #162 closed

[2018-10-28 17:18] benhaynes opened #178 "Make Chart Margins and Padding Optional/Adjustable"
**Is your feature request related to a problem? Please describe.**

We have removed the left axis labels, but can't left-align the chart because the entire element has been translated:

[code]

![screen shot 2018-10-28 at 1 11 05 pm](https://user-images.githubusercontent.com/522079/47619270-3c45ab00-dab3-11e8-8e77-90f343b0bd89.png)

* Red Line: This is the left SVG bound, where we would like to al

[2018-10-28 17:39] benhaynes commented on #178
Awesome, thank you!

[2018-10-28 19:35] junedchhipa commented on #178
Ah! Just checked out one of your repository - **directus**, and I'm really impressed. Keep up the great work.

[2018-10-29 08:54] jimfilippou commented on #167
@junedchhipa padding is not present
https://codepen.io/jimfilippou-the-animator/pen/XxQKEp?editors=0010

[2018-10-29 08:58] junedchhipa commented on #167
I didn't understand the problem. Can you post a screenshot pointing the issue?

[2018-10-29 09:02] jimfilippou commented on #167
![sketch 1](https://user-images.githubusercontent.com/6877046/47639506-1cbd8980-db6a-11e8-9d21-fbc1866e6f95.png)

Also the padding is missing from left and right

[2018-10-29 09:03] jimfilippou commented on #167
Wait i think i didn't have my cache cleared

[2018-10-29 09:20] jimfilippou commented on #167
Yep that was my mistake, solved

[2018-10-29 09:28] jimfilippou opened #179 "Bar chart tooltip not aligned properly"
## Codepen

https://codepen.io/jimfilippou-the-animator/pen/pxBEeP

## Explanation

Using version `2.1.8`, when hovering above bar charts, you can see that the tooltip is not aligned properly.

- What is the behavior you expect?
Proper alignment

- What is happening instead?

![untitled](https://user-images.githubusercontent.com/6877046/47640772-0e24a180-db6d-11e8-9d11-d819c37d7172.png)

- What er

[2018-10-29 09:33] junedchhipa commented on #179
I remember the change I did for it. Will revert.
It's difficult to catch these UI things with unit tests. I will set up more e2e tests using puppeteer in the future.

[2018-10-29 10:36] #179 closed

[2018-10-29 12:39] johuhype opened #180 "Setting the states.active.filter.type to 'none' does not work"
Type 'none' for the active state does not work:

                        states: {
                            active: {
                                 filter: { type: 'none', value: 1 }
                            }
                        }

Instead of nothing happening, the selected item will get highlighted.

However, it is possible to use type-darken and value 1 as long as its not working.

[2018-10-29 12:41] jimfilippou opened #181 "Negative values appear on y axis while every data-set has positive values"
## Codepen

https://codepen.io/jimfilippou-the-animator/pen/OBGjJK?editors=0010

## Explanation
Data given is positive, assigning y-axis label with a negative value is not an expected behavior.

- What is the behavior you expect?
![expectation](https://user-images.githubusercontent.com/6877046/47650339-a419f580-db88-11e8-9370-be2e906446ec.png)

- What is happening instead?
![reality](https://user-

[2018-10-29 14:33] benhaynes commented on #178
Thanks, and likewise! APEXCHARTS has been a pleasure to work with so far!

[2018-10-29 17:37] artfulrobot opened #182 "Reset changes zoom, but does not fire zoomed"
## Codepen

[codepen](https://codepen.io/anon/pen/ePoPZP?editors=1111)

## Explanation

When you zoom in, or out using the buttons, the zoomed event fires. However when you use the reset button no event fires, yet the zoom is changed.

This makes it impossible to track the zoom.

e.g. I have a timeseries showing hits on a website. I want that when the user zooms in it tells me a total of all the h

[2018-10-29 17:48] junedchhipa commented on #182
Calling `zoomed` on reset zoom makes sense. I will fire the `zoomed` event in reset also.

[2018-10-29 18:34] junedchhipa commented on #181
I agree
If no negative values are present, it doesn't make sense to show negative values in the y-axis.

Fixed it

[2018-10-29 18:42] #181 closed

[2018-10-29 18:49] #182 closed

[2018-10-29 18:53] junedchhipa commented on #180
I cannot reproduce this issue.
Setting `filter.type: none` works as expected.

Can you create a codepen, please?

[2018-10-30 06:11] junedchhipa commented on #160
Cropped markers on the left and right of the grid are fixed.
From v2.1.9, you won't need `xaxis.clipMarkers` property anymore.

[2018-10-30 06:13] junedchhipa commented on #130
Cropped markers issue is fixed.
From v2.1.9, you shouldn't set `grid.clipMarkers` property anymore as it is deprecated.

[2018-10-30 07:42] johuhype commented on #180
https://codepen.io/anon/pen/RemGxm

You need to enable the responsive mode in chrome. Then try to click the blue circle with the round mouse cursor. The hover effect will become active.

I can fix this by changing type none to darken or if I also put

[code]

there. But the hover effect should probably not be activated by clicking.

[2018-10-30 08:04] junedchhipa commented on #180
The hover effect is not activated by the click, but it is activated when you move the mouse over the path.

So, if you don't want any states, then turning off both active and hover is the correct configuration.
[code]

[2018-10-30 08:13] johuhype commented on #180
No, in responsive mode, there is no hover (as of touch mode with smart devices).

I agree that hover will be activated when you are in desktop mode and just move the mouse over the path.
When you are in touch mode, it is not activated which is correct as there is no "mouse over".
However it will get activated there when you click it in the right spot of the blue circle color. Which is not correct

[2018-10-30 08:15] junedchhipa commented on #180
@johuhype I misunderstood your previous comment. It's clear now.
I will make the corrections, thank you.

[2018-10-30 15:39] blakeyc opened #183 "Reverse Y Axis Values"
Couldn't find anything in the docs, is it possible to reverse the Y axis so values go from high to low instead of the usual low to high?

[2018-10-30 19:16] #180 closed

[2018-10-30 19:36] junedchhipa commented on #183
Currently, no direct option to flip the Y-axis, but can be easily achieved by tweaking the data-values and y-axis formatter.

Here is something I tried by inverting all data-values, then formatting `yaxis.labels.formatter`
[code]

![screen shot 2018-10-31 at 1 04 22 am](https://user-images.githubusercontent.com/17950663/47745164-09fd9e80-dca9-11e8-82c5-5d64e02cf04e.png)

[Codepen Demo](https://cod

[2018-10-30 21:15] blakeyc commented on #183
Thanks will give this a try.

[2018-10-30 21:15] #183 closed

[2018-10-31 08:12] Dimanoid opened #184 "How can I draw an area chart from y.min to y.max values (Range Area Charts)"
Basic area charts are drawn from x-axis (from zero) to some value, but I need to draw an area of min-max ranges. Someshing like on the attached picture. Can I achieve that with apexcharts?
![area](https://user-images.githubusercontent.com/1387749/47773988-334c1800-dd05-11e8-9f9e-311c8ca4d3f3.PNG)

[2018-10-31 09:13] Dimanoid commented on #184
Yes, I was not sure how this kind of charts are "officially" called :)
Would be nice to have such charts, thx.

[2018-10-31 14:34] XAHTEP26 opened #185 "If chart type is 'bar' and stacked option is true then minY scale is equal to 1"
## Codepen
https://codepen.io/XAHTEP26/pen/ZqdRLv

## Explanation
This is bad for small values because I expect them to stretch to full height.
![image](https://user-images.githubusercontent.com/16738756/47795050-c51e4a00-dd32-11e8-956a-e0055c59fbb9.png)

[2018-10-31 15:09] #185 closed

[2018-10-31 15:34] tocka9 commented on #2
For starters even having jpeg export would be great.

BTW thanks for this amazing library 👍

[2018-10-31 16:40] Dimanoid opened #186 "Feature request: display data labels on line/area charts for extremums only"
If you have lot of data (say 1000+ points) its good to see labels only for maximums and/or minimums.
See attached picture (not the best realization, just to illustrate the idea).
![image](https://user-images.githubusercontent.com/1387749/47803798-b80e5480-dd4c-11e8-80df-e7b17339d2f5.png)

Also it would be nice to have more "intelligent" data labels which will be placed not just by text align and o

[2018-10-31 20:15] junedchhipa commented on #2
@tocka9 Thank you.
I have implemented PNG export and will be shipping with the next release soon.

[2018-11-01 03:35] junedchhipa commented on #186
@Dimanoid Good suggestions.

Regarding overlapping data labels, I have already tried not to overlap dataLabels when there is a lot of data as shown below.
![screen shot 2018-11-01 at 6 40 52 am](https://user-images.githubusercontent.com/17950663/47826985-3268c400-dda1-11e8-9d6e-ac643569420f.png)

Regarding intelligent dataLabels, I can provide an option in dataLabels config to only show max/min va

[2018-11-01 07:53] Dimanoid commented on #186
About maximum/minimum - not exactly what I mean. Not the global maximum or minimum, but local ones. May be I found a better illustration.
![image](https://user-images.githubusercontent.com/1387749/47838840-a87d2300-ddc1-11e8-949b-66ab908cd855.png)

As for overlapping of data labels, please look at this example https://stackblitz.com/edit/angular6-apexcharts-14dvla

[2018-11-01 08:35] junedchhipa commented on #186
Thank you for better illustration, I got your point.
And yes, overlapping looks bad in multi-series chart with lots of data-points. Need to find a more intelligent way to manage data-labels for such scenarios.

[2018-11-01 16:11] ekhaled opened #187 "Axis border overlaps actual chart when multiple axes are used"
## Codepen

https://codepen.io/anon/pen/gBVyre

## Explanation

Might be related to #98
But, this was a problem before that issue was closed.

When multiple axes are used, not adding a `title` attribute causes the yAxis border on the left to overlap the chart.

When the axis has a title, it renders fine.

[2018-11-01 16:16] junedchhipa commented on #187
I can notice that. I will take care of it.

[2018-11-02 11:54] jimfilippou opened #188 "Line chart points render phase is inconsistent"
## Codepen

https://codepen.io/jimfilippou-the-animator/pen/WYeJWq?editors=0010

## Explanation

This is not exactly an issue (although it may be considered as an issue considering the consistency of points across all line charts), I believe this more like a reconsideration on when the points appear on line charts. By taking a look at the Codepen from above, you see the charts rendering at a speci

[2018-11-02 22:07] jimfilippou commented on #24
@cstlaurent brilliant, thanks!

[2018-11-03 07:39] #188 closed

[2018-11-03 09:06] #178 closed

[2018-11-03 09:06] #187 closed

[2018-11-03 11:51] junedchhipa commented on #24
@cstlaurent Good to know. I was worried about how the types will be synced with the core options.

If anyone finishes the first version of the types, I'm happy to accept a PR

[2018-11-03 16:08] benhaynes commented on #178
Excellent! This seems to be working on our side. Thank you so much for the quick turn-around!

Keep up the great work!

[2018-11-03 17:01] mestaritonttu opened #189 "Stacked bar chart, multiple series, named data"
I did a lot of digging and it seems we do not have a way to create multiple stacked bars containing named data. I mean a scenario where all the datapoints have unique names and values.
So with a pseudo-syntax:
[code]
Am I missing something? Does this make sense or is it too much of a corner case to even consider?

[2018-11-03 18:45] mestaritonttu commented on #189
Ah, I don't mean like that. In your example, the series A, B and C are mixed in the same bars. I would like one series per bar.
What drove me to this is a single bar having too many data points and thus wanting to split it (per meaningful categories, nonetheless) to make the data readable at a glance.

[2018-11-03 19:43] mestaritonttu commented on #189
Yeah, I think it might be too painful to do in this case as the series would have different numbers of items. Just thinking about reordering my data makes my head hurt :)
I will experiment with multiple charts. Thanks!

[2018-11-03 19:43] #189 closed

[2018-11-06 04:47] grishnyakov opened #190 "markers not updated (updateOptions)"
When do updateOptions with param: {markers: { size: N }}
(N- any number 0-5)  - chart would be refreshed, but points(markers) size will stay unchanged.

let value = {markers: { size: N }};
this.$apexcharts.exec("chart2", "updateOptions", value, true, true);

[2018-11-06 08:59] junedchhipa commented on #190
Thanks for reporting, just fixed it.

[2018-11-06 09:00] #190 closed

[2018-11-08 13:34] jimfilippou opened #191 "Microsoft Edge miscalculation regarding y-axis tickAmount"
## Codepen

https://codepen.io/jimfilippou-the-animator/pen/vQGNqz?editors=0010

## Browser

- Microsoft Edge

## Explanation

- What is the behavior you expect?
![expectation](https://user-images.githubusercontent.com/6877046/48201588-51e88980-e36b-11e8-9830-a8384abfeb1f.png)

- What is happening instead?
![reality](https://user-images.githubusercontent.com/6877046/48201604-5614a700-e36b-11e8-9a2

[2018-11-08 13:39] jimfilippou commented on #191
[code]

If that helps

[2018-11-08 14:23] junedchhipa commented on #191
There is 1 condition for IE, which should not be returning true for Edge.
I will change the function to target only IE11.

[2018-11-08 14:28] junedchhipa commented on #191
This commit https://github.com/apexcharts/apexcharts.js/commit/6e23336c365f6449668ad193296936d13926e012 fixes it

[2018-11-08 15:35] jimfilippou commented on #191
I also believe this fixes the problem, when is the next build 😄 ?

[2018-11-08 15:55] junedchhipa commented on #191
This weekend.

[2018-11-08 18:04] brockelmore opened #192 "Marker "Discrete" API documentation"
**Is your feature request related to a problem? Please describe.**
I want to be able to modify individual markers in a series - it seems that it is possible with the "discrete" label in Markers.js, but there is no documentation and it is a bit confusing to work out what it does.

**Describe the solution you'd like**
If you could give me just one example of usage that would be great.

**Describe al

[2018-11-08 18:21] brockelmore commented on #192
Never mind i figured it out...

For those who look for this later:
`
	markers: {
			discrete: [{i:1, j:3, strokeColor:"#FFF", fillColor:"#000", size:12}],
			size: [0,3],
			strokeColor: ["#fff","#fff"],
			strokeWidth: 3,
			strokeOpacity: 1,
			fillOpacity: 1,
			hover: {
				size: 6
			}
		}
`
Where i = seriesIndex, j is the specific marker's index, with fill, stroke, and size as available to c

[2018-11-08 21:13] bcruddy commented on #51
@junedchhipa is this still an issue?

[2018-11-09 06:28] junedchhipa commented on #192
Hi, thanks for bringing this to attention. I am going to change the property names in the discrete markers to something meaningful. `i`, `j` doesn't make sense.
So, proposed values will be

[code]

The change will be done in 2.2.1
The docs will be updated too, thanks.

[2018-11-09 16:48] junedchhipa commented on #51
Yes, couldn't work on this issue. Just started working on it, thanks for reminding ;)

[2018-11-09 18:37] #51 closed

[2018-11-11 19:40] junedchhipa commented on #192
Updated the documentation for `markers.discrete` - https://apexcharts.com/docs/options/markers/#markerDiscrete
Make sure, you update the params to reflect the latest props.

[code]

[2018-11-11 19:40] #192 closed

[2018-11-11 19:40] junedchhipa commented on #191
Fixed in 2.2.1

[2018-11-11 19:40] #191 closed

[2018-11-12 14:21] MedinaGitHub commented on #57
opts.globals NOT WORKING

[2018-11-12 14:49] junedchhipa commented on #57
The params have changed a little bit for `legend.formatter` function in the last update.
Please see the docs - https://apexcharts.com/docs/options/legend/#formatter

[code]

[2018-11-12 14:52] junedchhipa commented on #57
Ah! I see you're already using opts.w.globals.
Are you using v2.2.1?

[2018-11-13 09:24] kanchev opened #193 "Sync selection on scatter charts"
**Is your feature request related to a problem? Please describe.**
Syncing diagrams within a dashboard on mouse hover events is really nice. What's actually missing is syncing the selection as well. This would be really useful for scatter plots which contain dense areas of points.

**Describe the solution you'd like**
Allow charts to be rendered with preselected data points. This way it'd would be

[2018-11-13 09:45] junedchhipa commented on #193
Do you mean - if you make a selection in 1 chart - you want to load data in other charts based on that?

Like this?
![screen shot 2018-11-13 at 3 09 43 pm](https://user-images.githubusercontent.com/17950663/48404438-3825b880-e756-11e8-9d5c-bb9114ed86c9.png)

A live example of the above image from plot.ly - https://codepen.io/plotly/pen/EPEGyE

Or-
Do you mean, when you make the selection in 1 char

[2018-11-13 10:13] kanchev commented on #193
I guess it's a common thing what I'm doing since you already described it.

My first chart is similar to your first example but it's bar chart. When a bar is selected then the second and third scatter charts are loaded (so inverted chart types for your example). The scatter charts are loaded with same  x-axis but different y-axis as they display different values for the x-points. The scatter chart

[2018-11-13 10:37] junedchhipa commented on #193
I was confused between `selection` and `dataPointSelection` events.
My previous answer was based on the `selection` which you can see on this demo - https://apexcharts.com/javascript-chart-demos/area-charts/github-style/

But, now it's clear that you meant [dataPointSelection](https://apexcharts.com/docs/options/chart/events/#dataPointSelection) where you click on markers of 1 chart and based on t

[2018-11-13 11:40] junedchhipa commented on #193
@kanchev
I already thought of the same way you described. At one point, I had this option in the config object, but currently, you will find that it is commented out - as it didn't work out as I expected - (chart.selection.selectedPoints in /settings/Options.js)

I will give another try to allow the user to have preSelected dataPoints. Thanks for the input.

[2018-11-14 13:59] JCQuintas opened #194 "[Scatter] When changing the amount of data in series the chart breaks if there are more series than before"
## Codepen

https://codepen.io/anon/pen/xQqjzG

## Explanation

- What is the behavior you expect?
When updating a series with a new one with a greater length, the chart should update correctly.

- What is happening instead?
Chart breaks and throws an error

- What error message are you getting?
`TypeError: Cannot read property '0' of undefined`

[2018-11-14 14:08] #194 closed

[2018-11-14 14:10] junedchhipa commented on #194
Thanks for reporting, @JCQuintas
Fixed it

[2018-11-15 02:41] kkontagion opened #195 "Feature Request: Sankey Diagram"
Are there any new chart types being added? I'm particularly interested in the Sankey diagram.

[2018-11-15 06:14] junedchhipa commented on #195
New chart types are being added, unfortunately, Sankey isn't one of them.
No plans to implement in the near future.

[2018-11-15 06:14] #195 closed

[2018-11-15 11:55] vibou opened #196 "Grouped Stack Bar"
**Is your feature request related to a problem? Please describe.**
I would like to present next to each other 2 stacks from 2 outputs for a set of categories

[code]

Grouped bar charts exists but not grouped stacked charts.

**Describe the solution you'd like**
Same as Grouped bar charts but with stacks

**Describe alternatives you've considered**
Use d3.

[2018-11-15 21:14] visaru opened #197 "showing NaN% on donut chart, top/left corner when series with zero values"
## Codepen

https://codepen.io/anon/pen/WYOweJ

## Explanation

- Clean disaplay showing 0 as total on the donut chart
- Showing _aN%_ on the **top/left** of the div on donut chart
- console is full of NaN errors
`apexcharts:1 Error: <path> attribute d: Expected number, "M NaN NaN A 64.731…".`

BTW how can I remove Total as a label? how can I show just the total number instead on donut chart

[2018-11-16 06:03] junedchhipa commented on #103
Created all demos for vue as well.
https://apexcharts.com/vue-charts-demos

[2018-11-16 06:44] #197 closed

[2018-11-16 06:48] junedchhipa commented on #197
Thanks for reporting, just fixed it.
Release version 2.2.2 - in which the donut labels are hidden by default as many users suggested of hiding them in first place. So, make sure you enable them again in `plotOptions.pie.donut.labels.show` if you want to show.

You can control the `total` label in `plotOptions.pie.donut.labels.total`
More info in the docs - https://apexcharts.com/docs/options/ploto

[2018-11-16 06:59] newmanne opened #198 "Step line"
I would like the ability to connect data points with a step function rather than linearly interpolating between adjacent points. For some datasets this interpolation is not appropriate. An example of what I want is [c3](https://c3js.org/samples/chart_step.html).

[2018-11-16 07:02] junedchhipa commented on #198
This is currently not implemented, but it is definitely in the roadmap.

[2018-11-16 09:18] Sadius89 opened #199 "Stacking breaks when using datetime as X-axis"
## Explanation

- When using datetime as X-axis on bar and area charts, stacking breaks when time is specific enough (Atleast using 30 minute timeframes and smaller break stacking).

- In some cases bars don't start at 0 and in some times bars are stacked even if they don't have same value in x.

![stacking](https://user-images.githubusercontent.com/45093458/48612227-06e4fc80-e991-11e8-883a-b4bb09

[2018-11-17 12:37] Sile25 opened #200 "Chart updates"
How can i update every chart? And do updates work on Candlestick charts too?

[2018-11-17 13:58] junedchhipa commented on #200
https://apexcharts.com/docs/methods/#updateSeries

Yes, `updateSeries()` method works on candlestick charts too

[2018-11-17 15:43] Sile25 commented on #200
Awesome, thank you!

[2018-11-17 16:07] junedchhipa commented on #26
Re-opening this.
The functionality will be releases in v2.2.3

[2018-11-17 16:08] #200 closed

[2018-11-18 00:47] punkt2 opened #201 "Change color of yaxis labels at horizontal bar chart don't work"
The setting for yaxis label color is not applied for horizontal bar chart (vertical bar chart works)

Here is the codepen. Yaxis label should be green, but they are not.
https://codepen.io/punkt2/pen/ZmJVdR

[2018-11-19 07:04] #201 closed

[2018-11-19 11:31] punkt2 commented on #201
As far i understand your change, it fixes the color for the title not the labels, right?
I checked our master and the color is still not applying for yaxis labels.

[2018-11-19 11:35] junedchhipa commented on #201
Hi @punkt2
Sorry for not updating this thread, but the change isn't pushed to npm. When I will create the new build 2.2.3 - this will be working for labels and titles both
https://github.com/apexcharts/apexcharts.js/commit/40cd62fcc196f9568e82c6dcf50a7054433a2537#diff-68a9703f7bce197c9e7ed170e3704aed shows the changes in `src/modules/axes/XAxis.js` - maybe you got confused as Horizontal Bar Chart'

[2018-11-19 12:42] mestaritonttu opened #202 "Trying to destroy chart second time gives TypeError: this.zoomPanSelection is null"
## Codepen

https://codepen.io/anon/pen/aQLMzz

## Explanation

Click twice the button that says "Click to recreate chart". On the second click you will get in the console TypeError: this.zoomPanSelection is null.

It is hitting the this.zoomPanSelection.destroy() function in this apexcharts.js code block:

[code]

[2018-11-19 14:10] punkt2 commented on #201
True, i didn't have the latest changes. Anyway, thanks and I will wait for the next release.

[2018-11-19 14:26] pa657 opened #203 "Multi-Axis 4 series : second axis scale issue"
With 4 series :
https://codepen.io/pa657/pen/vQeqmJ,
the second axis scale is not accurate.

[2018-11-19 15:00] junedchhipa commented on #202
@mestaritonttu Thanks for reporting, I confirm this bug.
Will be fixed in the next release.

[2018-11-19 15:02] junedchhipa commented on #203
@pa657 I confirm this bug, thanks for reporting.
This will be addressed asap.

[2018-11-19 21:46] newmanne opened #204 "Feature request: box plots"
Takes in five arguments (max, upper quartile, median, lower quartile, min). Similar in many ways to candlestick charts, but with a median and does not assume a datetime axis. One example is [this](https://www.highcharts.com/demo/box-plot). I would want to plot outliers as a scatter plot on the same graph, so ideally that would work too.

[2018-11-20 17:00] bee-interactive opened #205 "Get datas from a database"
Hi!

I'm struggling to get datas injected dynamically into my basic bar chart.. I'm always facing this error: Uncaught (in promise) TypeError: Cannot read property 'x' of undefined the trying to fill the series.

Is there any example on how format the incoming datas from an ajax request? I'm trying to fetch some json response but nothing comes into my graph.

Here are my datas from the json respon

[2018-11-20 17:01] JCQuintas opened #206 "Reset toggleSeries changes"
**Is your feature request related to a problem? Please describe.**
I have a line chart that I update from buttons outside the chart using the `toggleSeries` method. Then lets say I can change between the 2 datasets bellow. If I toggle `Name 1` in `dataExample1` and change to `dataExample2`, the `Name 1` is still toggled.

[code]

**Describe the solution you'd like**
Have a method to reset all curr

[2018-11-20 17:23] JCQuintas opened #207 "Make Pie/Radia charts accept array of objects just like Series/Line charts"
**Is your feature request related to a problem? Please describe.**

In some of my projects I have the same data that I want to present differently in each widget. But for it to work both on Line charts and Radial charts I have to proccess the data in completely different shapes.

**Describe the solution you'd like**

Have Pie charts accept array of object data like:

[code]

[2018-11-20 18:08] junedchhipa commented on #207
Yes, I have already thought of this, but I am afraid this might be a breaking change for pie/radialbar charts. Will implement it for the next major update v3.0

[2018-11-20 18:21] junedchhipa commented on #205
Hi @bee-interactive
Can you put your data into a text-format for me to copy-paste easily and re-produce the issue on my side?
I would like to see the final `datas` you generate to see if it in the correct format.

[2018-11-20 18:31] junedchhipa commented on #207
Yes, I agree that keeping the existing logic is essential for backward compatibility and also easier for simple use-cases.